openapi: 3.2.0
info:
  title: Community Care Eligibility Search API
  description: The Community Care Eligibility API determines if a VA patient is **likely** or **unlikely** to be eligible for care from non-VA community providers.
  version: v0
servers:
- url: https://sandbox-api.va.gov/services/community-care/{version}/eligibility
  description: Sandbox
  variables:
    version:
      default: v0
- url: https://api.va.gov/services/community-care/{version}/eligibility
  description: Production
  variables:
    version:
      default: v0
security:
- OauthFlow:
  - patient/CommunityCareEligibility.read
tags:
- name: Search
paths:
  /search:
    get:
      tags:
      - Search
      summary: Estimate the likelihood of a VA patient's eligibility for community care based…
      operationId: GET:/search
      parameters:
      - name: patient
        in: query
        description: The patient's ICN
        required: true
        schema:
          type: string
        example: 011235813V213455
      - name: serviceType
        in: query
        description: The patient's desired medical service type for community care
        required: true
        schema:
          type: string
          enum:
          - Audiology
          - Cardiology
          - Dermatology
          - Gastroenterology
          - Gynecology
          - MentalHealthCare
          - Nutrition
          - Ophthalmology
          - Optometry
          - Orthopedics
          - Podiatry
          - PrimaryCare
          - Urology
          - WomensHealth
        example: Gastroenterology
      - name: extendedDriveMin
        in: query
        description: Optional extended drive-radius to include more VA medical facilities in response. This does not change overall eligibility and must exceed standard drive time for the service-type.)
        schema:
          type: integer
          format: int32
        examples:
          extendedDriveMin:
            description: extendedDriveMin
            value: 70
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityCareEligibilityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
components:
  schemas:
    PatientRequest:
      type: object
      properties:
        patientIcn:
          type: string
        serviceType:
          type: string
        extendedDriveMin:
          type: integer
          format: int32
        timestamp:
          type: string
    CommunityCareEligibilityResponse:
      type: object
      properties:
        patientRequest:
          $ref: '#/components/schemas/PatientRequest'
        eligibilityCodes:
          type: array
          items:
            $ref: '#/components/schemas/EligibilityCode'
        grandfathered:
          type: boolean
        noFullServiceVaMedicalFacility:
          type: boolean
        patientAddress:
          $ref: '#/components/schemas/Address'
        patientCoordinates:
          $ref: '#/components/schemas/Coordinates'
        nearbyFacilities:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
        eligible:
          type: boolean
        processingStatus:
          type: string
          enum:
          - successful
          - geocoding-not-available
          - geocoding-out-of-date
          - geocoding-incomplete
        pactStatus:
          type: string
          description: Patient Aligned Care Team (PACT) status
          enum:
          - None
          - Pending
          - Active
        $lock:
          type: object
      example:
        patientRequest:
          patientIcn: 011235813V213455
          serviceType: PrimaryCare
          timestamp: '2019-05-09T13:17:58.250Z'
        eligibilityCodes:
        - description: Basic
          code: B
        grandfathered: false
        noFullServiceVaMedicalFacility: false
        patientAddress:
          country: USA
          street: 742 Evergeen Terrace
          city: Springfield
          state: KY
          zip: '89144'
        patientCoordinates:
          latitude: 40.758541
          longitude: -73.982132
        nearbyFacilities:
        - id: vha_1597XY
          name: Springfield VA Clinic
          physicalAddress:
            street: 2584 South Street
            city: Springfield
            state: KY
            zip: '10946'
          coordinates:
            latitude: 41.81
            longitude: 67.65
          driveMinutes:
            min: 0
            max: 10
          phoneNumber: 177-112-8657 x
          website: https://www.va.gov
        - id: vha_46368ZZ
          name: Shelbyville VA Clinic
          physicalAddress:
            street: 121393 Main Street
            city: Shelbyville
            state: KY
            zip: '75025'
          coordinates:
            latitude: 196.418
            longitude: 317.811
          driveMinutes:
            min: 20
            max: 30
          phoneNumber: 1-422-983-2040
          website: https://www.va.gov
          mobile: false
          active: true
        eligible: false
        processingStatus: successful
        pactStatus: Active
    NotFound:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
        type:
          type: string
        message:
          type: string
      example:
        timestamp: 1557407878250
        type: UnknownPatientIcnException
        message: 'Unknown patient ICN: 011235813V213455'
    DriveMinutes:
      type: object
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
    EligibilityCode:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
    Address:
      type: object
      properties:
        country:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
    BadRequest:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
        type:
          type: string
        message:
          type: string
      example:
        timestamp: 1557407878250
        type: UnknownServiceTypeException
        message: 'Unknown service type: dentistry'
    Facility:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        physicalAddress:
          $ref: '#/components/schemas/Address'
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        driveMinutes:
          $ref: '#/components/schemas/DriveMinutes'
        phoneNumber:
          type: string
        website:
          type: string
        mobile:
          type: boolean
        active:
          type: boolean
    Coordinates:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
  securitySchemes:
    OauthFlow:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox-api.va.gov/oauth2/authorization
          tokenUrl: https://sandbox-api.va.gov/oauth2/token
          scopes:
            patient/CommunityCareEligibility.read: Community Care Eligibility
