openapi: 3.2.0
info:
  title: Benefits Claims 5103 Waiver API
  version: v2
  description: '## Background


    The Benefits Claims API Version 2 lets internal consumers:


    - Retrieve existing claim information, including status, by claim ID.'
servers:
- url: https://sandbox-api.va.gov/services/claims/{version}/
  description: Sandbox
  variables:
    version:
      default: v2
- url: https://api.va.gov/services/claims/{version}/
  description: Production
  variables:
    version:
      default: v2
tags:
- name: 5103 Waiver
  description: Allows authenticated and authorized users to file a 5103 Notice Response on a claim.
paths:
  /veterans/{veteranId}/claims/{id}/5103:
    post:
      summary: Submit Evidence Waiver 5103
      tags:
      - 5103 Waiver
      operationId: POST:/veterans/{veteranId}/claims/{id}/5103
      security:
      - productionOauth:
        - system/claim.write
      - sandboxOauth:
        - system/claim.write
      - bearer_token: []
      description: Submit Evidence Waiver 5103 for a VA claimant.
      parameters:
      - name: id
        in: path
        example: '600400703'
        description: The ID of the claim being requested
        required: true
        schema:
          type: string
      - name: veteranId
        in: path
        required: true
        example: 1012667145V762142
        description: ID of claimant
        schema:
          type: string
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              example:
                success: true
              schema:
                type: object
                additionalProperties: true
                properties:
                  success:
                    type: boolean
                    example: 'true'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  status: '401'
                  detail: Not authorized
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '404':
          description: NotFound
          content:
            application/json:
              example:
                errors:
                - status: '404'
                  title: Resource not found
                  detail: Claim not found
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      $schema: http://json-schema.org/draft-07/schema#
                      description: Claims API 5103 Schema
                      type: object
                      additionalProperties: false
                      properties:
                        trackedItemIds:
                          description: Array of tracked items ids.
                          type:
                          - array
                          - 'null'
                          uniqueItems: true
                          items:
                            type: integer
                            additionalProperties: false
              example:
                data:
                  type: form/5103
                  attributes:
                    trackedItemIds:
                    - 1234
components:
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
    productionOauth:
      type: oauth2
      description: This API uses OAuth 2 with the client credential grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/client-credentials)
      flows:
        authorizationCode:
          authorizationUrl: https://api.va.gov/oauth2/authorization
          tokenUrl: https://api.va.gov/oauth2/token
          scopes:
            system/claim.read: Retrieve claim data
            system/claim.write: Submit claim data
    sandboxOauth:
      type: oauth2
      description: This API uses OAuth 2 with the client credential grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/client-credentials)
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox-api.va.gov/oauth2/authorization
          tokenUrl: https://sandbox-api.va.gov/oauth2/token
          scopes:
            system/claim.read: Retrieve claim data
            system/claim.write: Submit claim data
