openapi: 3.2.0
info:
  version: 0.0.1
  title: Veteran Verification JWS Validation API
  description: The Veteran Verification API allows you to confirm the Veteran status for a given person, or retrieve a Veteran's service history or disability rating.
  termsOfService: ''
  contact:
    name: VA.gov
servers:
- url: https://sandbox-api.va.gov/services/veteran_verification/{version}
  description: Sandbox
  variables:
    version:
      default: v0
- url: https://api.va.gov/services/veteran_verification/{version}
  description: Production
  variables:
    version:
      default: v0
tags:
- name: JWS Validation
paths:
  /keys:
    get:
      tags:
      - JWS Validation
      summary: Retrieve public keys to check Veteran Verification API token signatures
      operationId: GET:/keys
      responses:
        '200':
          description: Keys retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKKeyset'
        '401':
          description: Not authorized
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
components:
  schemas:
    JWKKeyset:
      description: A JWK Keyset compliant with RFC 7517
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/JWK'
    JWK:
      description: JSON Web Key compliant with RFC 7517
      type: object
      properties:
        kty:
          type: string
          description: The "kty" (key type) parameter identifies the cryptographic algorithm family used with the key, such as "RSA" or "EC".
          example: RSA
        alg:
          type: string
          description: The "alg" (algorithm) parameter identifies the algorithm intended for use with the key.
          example: RSA256
        kid:
          type: string
          description: The "kid" (key ID) parameter is used to match a specific key.
          example: 088d24232ff6faa4cd4cfec126ad0431dff1ea028afdb1c86b3718d70171aed6
        pem:
          type: string
          description: A pem version of the public key
          example: '-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDfC0vJvKBPhS+KA+ad1HkpXrI8\nJoawtqzVwYgCGrlIgYgnRzKDvRFMbskYFTfPB7a8kT0gAkyFGvjlxp4EQ6mpVGhA\nDNVWBVArQlcnMMbNsKRmb2jSLSzjX49C26na6mUi9X+xe6iS97L0yyJWBA91Yq3c\nC0kJ8J8lwPoK9TvXqwIDAQAB\n-----END PUBLIC KEY-----\n'
        e:
          type: string
          description: The "e" (exponent) parameter contains the exponent value for the RSA public key.  It is represented as a Base64urlUInt-encoded value.
          example: AQAB
        n:
          type: string
          description: ' The "n" (modulus) parameter contains the modulus value for the RSA public key.  It is represented as a Base64urlUInt-encoded value.'
          example: 3wtLybygT4UvigPmndR5KV6yPCaGsLas1cGIAhq5SIGIJ0cyg70RTG7JGBU3zwe2vJE9IAJMhRr45caeBEOpqVRoQAzVVgVQK0JXJzDGzbCkZm9o0i0s41-PQtup2uplIvV_sXuokvey9MsiVgQPdWKt3AtJCfCfJcD6CvU716s=
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
