openapi: 3.0.1
info:
  title: Address Validation 5103 Waiver Reference Data API
  description: "The Address Validation API accepts and validates an address and standardizes it for mailing. It can also help you process an address by:\n* Inferring missing or incorrect address components\n* Supplementing an address with additional information, such as geocode, latitude and longitude, and postal service metadata (when available)\n## Technical Overview\nThe Address Validation API returns validated addresses as they appear in the USPS database for domestic addresses. It validates by separating the address into individual components and then providing component-level validation checks.\n\nThis API is certified by the United States Postal Service (USPS) Coding Accuracy Support System (CASS) and adheres to [United States Postal Service (USPS) Publication 28 standards](https://pe.usps.com/text/pub28/welcome.htm) for domestic, military, and US territory addresses.\n\nFor international addresses, validation relies on Universal Postal Union (UPU) standards. \n\n## Validation\nIf an address is found, it is considered valid based on metadata returned by the Address Validation service, such as the confidence score and the [Delivery Point Validation (DPV)](https://postalpro.usps.com/address-quality/dpv).\n\nIf an address is found, there are multiple checks performed on the validated address. The address can fail validation for a variety of reasons, such as the inability to deliver (for domestic mailing addresses) or the format. For specific reasons why an address failed, refer to the error messages returned.\n\nIf an address is not found, it automatically fails validation.\n\n## Address override indicator\nSometimes an entered address is accurate for a Veteran but does not pass validation rules. These instances can occur when an address is newer than what is in the CASS software or in regions where address data is less accurate.\n\nSystems can accept these addresses despite the lack of address validation by submitting an \"accepted address\" (usually confirmed by the Veteran) to the Contact Information API (see Requirements below). An address is considered accepted after the address has been sent to the validation API and has failed validation, but the Veteran has confirmed the address is correct as entered. The accepted address can then be passed to the Contact Information API using an address override indicator set to show that the validation was overridden. To set an override indicator, the original address and the `overrideValidationKey` returned in the validation API response must be provided to the Contact Information API, in order to prove that a validation attempt has been made before overriding.\n\n## Version Interoperability\n\nTo ensure interoperability between APIs and eliminate the need for transforming data as one API feeds into the other, we strongly recommend using versions of the following APIs that are compatible.\n\n|     <h3>If Using</h3>           | <h3>Then Use...</h3>                           |\n| :------------------------------:|:----------------------------------------------:|\n| Address Validation API v1/v2    | Contact Information API v1<br><br>Profile Service API v1/v2 |\n| Address Validation API v3       | Contact Information API v2<br><br>Profile Service API v3    |\n\n## Authorization\nAPI requests are authorized through a symmetric API token provided in an HTTP header with name apikey.\n\n**Important**: To get production access, you must either work for VA or have specific VA agreements in place. If you have questions, [contact us](https://developer.va.gov/support/contact-us)."
  license:
    name: Creative Commons
    url: https://developer.va.gov/terms-of-service
  version: '3'
servers:
- url: https://sandbox-api.va.gov/services/address-validation/{version}
  description: Sandbox
  variables:
    version:
      default: v3
- url: https://api.va.gov/services/address-validation/{version}
  description: Production
  variables:
    version:
      default: v3
security:
- apikey: []
tags:
- name: Reference Data
paths:
  /contention-types:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of contention types.
      description: Provides choices for Veterans Benefits Administration (VBA) request types, such as "New", "Supplemental", or "Higher Level Review".
      operationId: GET:/contention-types
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Contention types retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentionTypesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /countries:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of countries.
      description: Provides a current list of countries, standardized by the VA, which can be used for completing a VA benefits profile, such as "Bolivia", "China", or "Serbia/Montenegro".
      operationId: GET:/countries
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Countries retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /disabilities:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of disabilities.
      description: All types of disabilities that for which Veterans Benefits Administration (VBA) claim classification codes exist for such as "ALS", "angina", or "emphysema".
      operationId: GET:/disabilities
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Disabilities retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisabilitiesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /intake-sites:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of intake sites.
      description: The location where a Veteran's military separation process will occur such as "Andrews AFB", "Fort Sam Houston", or "Moody AFB".
      operationId: GET:/intake-sites
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Intake Sites retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntakeSitesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /military-pay-types:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of military pay types.
      description: For example, "Separation", "Severance", or "Temporary Disability Retired List (TDRL)".
      operationId: GET:/military-pay-types
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Military Pay Types retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilitaryPayTypesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /service-branches:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of service branches.
      description: A current list of US Military Service Branches, spelled and standardized by the VA such as, "Army", "National Oceanic & Atmospheric Administration", and "Space Force".
      operationId: GET:/service-branches
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Service Branches retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceBranchesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /special-circumstances:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of special circumstances.
      description: Provides the codes and descriptions for special circumstances considered for VBA claims such as "Temporary Total Disability", "Spouse Aide and Attendance", or "Automobile Allowance".
      operationId: GET:/special-circumstances
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Special Circumstances retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialCircumstancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /states:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of states.
      description: A current list of states (including US territories and key military mail hubs) standardized by the VA, which can be used for completing a VA benefits profile, such as "FL", "GU", or "PW".
      operationId: GET:/states
      parameters:
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: States retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
  /treatment-centers:
    get:
      tags:
      - Reference Data
      summary: Retrieve a list of treatment centers.
      description: Takes input of a two character state and provides the names, cities and VA identifiers for facilities in that state such as "Tuscaloosa VA Medical Center", "Augusta VA Medical Center", or "Perry Point VAMC - VA Maryland Health Care System.
      operationId: GET:/treatment-centers
      parameters:
      - name: stateCode
        in: query
        description: State to find treatment centers in
        schema:
          type: string
      - name: page
        in: query
        description: Page of results requested
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: An integer indicating the maximum number of results
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: Treatment Centers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatmentCentersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Authorization information not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: No API key found in request
        '403':
          description: Invalid authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: You cannot consume this service
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - apikeyAuth: []
components:
  schemas:
    SpecialCircumstancesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/SpecialCircumstance'
    StatesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            maxLength: 2
            minLength: 2
            type: string
            example: MN
    InternalServerError:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type.
          example: https://example.net/validation-error
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: Invalid field value
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          format: int32
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: stateCode must match "^[A-Z]{2}$"
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
          example: e6d1119e-dc91-4b4d-b583-0f309de0807b
      example:
        type: https://api.va.gov/services/benefits-reference-data/errors/generic/internal-server-error
        title: Internal Server Error
        status: 500
        detail: Internal Server Error
        instance: e6d1119e-dc91-4b4d-b583-0f309de0807b
    BadRequest:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type.
          example: https://example.net/validation-error
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: Invalid field value
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          format: int32
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: stateCode must match "^[A-Z]{2}$"
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
          example: e6d1119e-dc91-4b4d-b583-0f309de0807b
      example:
        type: https://api.va.gov/services/benefits-reference-data/v1/api-schema/errors/constraint-violation
        title: Invalid field value
        status: 400
        detail: stateCode must match "^[A-Z]{2}$"
        instance: e6d1119e-dc91-4b4d-b583-0f309de0807b
    ContentionTypesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentionType'
    CountriesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            maxLength: 50
            minLength: 1
            type: string
            example: Canada
    ServiceUnavailable:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type.
          example: https://example.net/validation-error
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: Invalid field value
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          format: int32
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: stateCode must match "^[A-Z]{2}$"
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
          example: e6d1119e-dc91-4b4d-b583-0f309de0807b
      example:
        type: https://api.va.gov/services/benefits-reference-data/v1/api-schema/errors/service-unavailable
        title: Service Unavailable
        status: 503
        detail: 'Cannot access service definition: standardDataService.wsdl'
        instance: e6d1119e-dc91-4b4d-b583-0f309de0807b
    ServiceBranch:
      type: object
      properties:
        code:
          type: string
          example: USMA
        description:
          type: string
          example: US Military Academy
    DisabilitiesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Disability'
    ContentionType:
      type: object
      properties:
        code:
          type: string
          example: INC
        description:
          type: string
          example: Increase
    PageLink:
      type: object
      properties:
        href:
          type: string
        rel:
          type: string
    TreatmentCenter:
      type: object
      properties:
        city:
          type: string
          example: MINNEAPOLIS
        id:
          type: integer
          format: int64
          example: 12965800
        name:
          type: string
          example: MINNEAPOLIS VA MEDICAL CENTER
        state:
          type: string
          example: MN
    MilitaryPayType:
      type: object
      properties:
        code:
          type: string
          example: RTRMT
        description:
          type: string
          example: Longevity
    IntakeSite:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 5674661
        description:
          type: string
          example: AF Academy
    SpecialCircumstance:
      type: object
      properties:
        code:
          type: string
          example: AA
        description:
          type: string
          example: Automobile Allowance
    IntakeSitesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/IntakeSite'
    Disability:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 30
        name:
          type: string
          example: abnormal weight loss
        endDateTime:
          type: string
          description: The expiration date for a code that is no longer used for new cases. Codes with expiration dates may still be referenced in older cases. If null, the code has not expired.
          format: date-time
          example: '2016-02-04T17:51:56Z'
    MilitaryPayTypesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/MilitaryPayType'
    ServiceBranchesResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServiceBranch'
    TreatmentCentersResponse:
      required:
      - items
      type: object
      properties:
        totalItems:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        links:
          type: array
          items:
            $ref: '#/components/schemas/PageLink'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TreatmentCenter'
  securitySchemes:
    apikey:
      type: apiKey
      name: apikey
      in: header
