openapi: 3.0.1
info:
  title: Address Validation 5103 Waiver Disability API
  description: "The Address Validation API accepts and validates an address and standardizes it for mailing. It can also help you process an address by:\n* Inferring missing or incorrect address components\n* Supplementing an address with additional information, such as geocode, latitude and longitude, and postal service metadata (when available)\n## Technical Overview\nThe Address Validation API returns validated addresses as they appear in the USPS database for domestic addresses. It validates by separating the address into individual components and then providing component-level validation checks.\n\nThis API is certified by the United States Postal Service (USPS) Coding Accuracy Support System (CASS) and adheres to [United States Postal Service (USPS) Publication 28 standards](https://pe.usps.com/text/pub28/welcome.htm) for domestic, military, and US territory addresses.\n\nFor international addresses, validation relies on Universal Postal Union (UPU) standards. \n\n## Validation\nIf an address is found, it is considered valid based on metadata returned by the Address Validation service, such as the confidence score and the [Delivery Point Validation (DPV)](https://postalpro.usps.com/address-quality/dpv).\n\nIf an address is found, there are multiple checks performed on the validated address. The address can fail validation for a variety of reasons, such as the inability to deliver (for domestic mailing addresses) or the format. For specific reasons why an address failed, refer to the error messages returned.\n\nIf an address is not found, it automatically fails validation.\n\n## Address override indicator\nSometimes an entered address is accurate for a Veteran but does not pass validation rules. These instances can occur when an address is newer than what is in the CASS software or in regions where address data is less accurate.\n\nSystems can accept these addresses despite the lack of address validation by submitting an \"accepted address\" (usually confirmed by the Veteran) to the Contact Information API (see Requirements below). An address is considered accepted after the address has been sent to the validation API and has failed validation, but the Veteran has confirmed the address is correct as entered. The accepted address can then be passed to the Contact Information API using an address override indicator set to show that the validation was overridden. To set an override indicator, the original address and the `overrideValidationKey` returned in the validation API response must be provided to the Contact Information API, in order to prove that a validation attempt has been made before overriding.\n\n## Version Interoperability\n\nTo ensure interoperability between APIs and eliminate the need for transforming data as one API feeds into the other, we strongly recommend using versions of the following APIs that are compatible.\n\n|     <h3>If Using</h3>           | <h3>Then Use...</h3>                           |\n| :------------------------------:|:----------------------------------------------:|\n| Address Validation API v1/v2    | Contact Information API v1<br><br>Profile Service API v1/v2 |\n| Address Validation API v3       | Contact Information API v2<br><br>Profile Service API v3    |\n\n## Authorization\nAPI requests are authorized through a symmetric API token provided in an HTTP header with name apikey.\n\n**Important**: To get production access, you must either work for VA or have specific VA agreements in place. If you have questions, [contact us](https://developer.va.gov/support/contact-us)."
  license:
    name: Creative Commons
    url: https://developer.va.gov/terms-of-service
  version: '3'
servers:
- url: https://sandbox-api.va.gov/services/address-validation/{version}
  description: Sandbox
  variables:
    version:
      default: v3
- url: https://api.va.gov/services/address-validation/{version}
  description: Production
  variables:
    version:
      default: v3
security:
- apikey: []
tags:
- name: Disability
  description: Used for 526 claims.
paths:
  /forms/526:
    get:
      summary: Get a 526 schema for a claim.
      deprecated: true
      tags:
      - Disability
      operationId: GET:/forms/526
      description: 'Returns a single 526 schema to automatically generate a form. Using this GET endpoint allows users to download our current validations.

        '
      responses:
        '200':
          description: schema response
          content:
            application/json:
              example:
                data:
                - $schema: http://json-schema.org/draft-07/schema#
                  description: Claims API 526 Schema
                  type: object
                  additionalProperties: false
                  required:
                  - veteran
                  - serviceInformation
                  - disabilities
                  - standardClaim
                  - autoCestPDFGenerationDisabled
                  properties:
                    veteran:
                      description: Veteran Object being submitted in Claim
                      type: object
                      additionalProperties: false
                      required:
                      - currentMailingAddress
                      - currentlyVAEmployee
                      properties:
                        flashes:
                          description: Attributes that describe special circumstances which apply to a Veteran.
                          type: array
                          items:
                            type: string
                            enum:
                            - Agent Orange - Vietnam
                            - Amyotrophic Lateral Sclerosis
                            - Blind
                            - Blue Water Navy
                            - Formerly Homeless
                            - GW Undiagnosed Illness
                            - Hardship
                            - Homeless
                            - Medal of Honor
                            - POW
                            - Priority Processing - Veteran over age 85
                            - Purple Heart
                            - Seriously Injured/Very Seriously Injured
                            - Specially Adapted Housing Claimed
                            - Terminally Ill
                          example: Hardship
                        currentlyVAEmployee:
                          type: boolean
                          description: Flag if Veteran is VA Employee.
                          example: false
                        currentMailingAddress:
                          description: Current Mailing Address Object being submitted.
                          type: object
                          additionalProperties: false
                          properties:
                            addressLine1:
                              description: Address Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                              maxLength: 30
                              example: 1234 Couch Street
                            addressLine2:
                              description: Additional Address Information Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                              maxLength: 10
                              example: Apt. 22
                            addressLine3:
                              description: Additional Address Information Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                              maxLength: 10
                              example: Box 123
                            city:
                              description: City Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.#]([-a-zA-Z0-9'.# ])?)+$
                              maxLength: 20
                              example: Portland
                            country:
                              description: Country Veteran resides in.  Value must match the values returned by the "/countries" endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                              type: string
                              example: USA
                            zipFirstFive:
                              description: Zipcode (First 5 digits) Veteran resides in.
                              type: string
                              pattern: ^\d{5}?$
                              example: '12345'
                            zipLastFour:
                              description: Zipcode (Last 4 digits) Veteran resides in.
                              type: string
                              pattern: ^\d{4}?$
                              example: '6789'
                            internationalPostalCode:
                              type: string
                            type:
                              description: "Type of residence Veteran resides in.  \n If value is \"INTERNATIONAL\", then \"addressLine1\", \"city\", \"country\", and \"internationalPostalCode\" are required.  \n If value is \"DOMESTIC\", then \"addressLine1\", \"city\", \"state\", \"country\", and \"zipFirstFive\" are required.  \n If value is \"MILITARY\", then \"addressLine1\", \"country\", \"militaryStateCode\", \"militaryPostOfficeTypeCode\", and \"zipFirstFive\" are required."
                              type: string
                              default: DOMESTIC
                              enum:
                              - INTERNATIONAL
                              - MILITARY
                              - DOMESTIC
                              example: DOMESTIC
                            state:
                              description: State or province Veteran resides in.
                              type: string
                              pattern: ^[a-z,A-Z]{2}$
                              example: OR
                          allOf:
                          - if:
                              properties:
                                type:
                                  const: INTERNATIONAL
                            then:
                              required:
                              - addressLine1
                              - city
                              - country
                              - type
                              - internationalPostalCode
                          - if:
                              properties:
                                type:
                                  const: DOMESTIC
                            then:
                              required:
                              - addressLine1
                              - city
                              - country
                              - zipFirstFive
                              - type
                              - state
                          - if:
                              properties:
                                type:
                                  const: MILITARY
                            then:
                              required:
                              - addressLine1
                              - country
                              - zipFirstFive
                              - militaryStateCode
                              - militaryPostOfficeTypeCode
                              - type
                        changeOfAddress:
                          description: A Change of Address Object being submitted.
                          type: object
                          additionalProperties: false
                          required:
                          - country
                          - type
                          - addressLine1
                          - addressChangeType
                          - beginningDate
                          properties:
                            beginningDate:
                              description: Date in YYYY-MM-DD the Veteran changed address. Date must be in the future if change is temporary.
                              pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                              type: string
                              example: '2018-06-04'
                            endingDate:
                              description: Date in YYYY-MM-DD the changed address expires, if change is temporary.
                              type: string
                              pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                              example: '2018-06-04'
                            addressChangeType:
                              description: Temporary or Permanent change of address.
                              type: string
                              example: PERMANENT
                            addressLine1:
                              description: New Address Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                              maxLength: 30
                              example: 1234 Couch Street
                            addressLine2:
                              description: New Additional Address Information Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                              maxLength: 30
                              example: Apt. 22
                            city:
                              description: New city Veteran resides in.
                              type: string
                              pattern: ^([-a-zA-Z0-9'.#]([-a-zA-Z0-9'.# ])?)+$
                              maxLength: 20
                              example: Portland
                            country:
                              description: New country Veteran resides in. Value must match the values returned by the "/countries" endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                              type: string
                              example: USA
                            zipFirstFive:
                              description: New zipcode (First 5 digits) Veteran resides in.
                              type: string
                              pattern: ^\d{5}?$
                              example: '12345'
                            zipLastFour:
                              description: New zipcode (Last 4 digits) Veteran resides in.
                              type: string
                              pattern: ^\d{4}?$
                              example: '6789'
                            internationalPostalCode:
                              type: string
                            type:
                              description: "New type of residence Veteran resides in.  \n If value is \"INTERNATIONAL\", then \"city\" and \"internationalPostalCode\" are required.  \n If value is \"DOMESTIC\", then \"city\", \"state\", and \"zipFirstFive\" are required.  \n If value is \"MILITARY\", then \"militaryStateCode\", \"militaryPostOfficeTypeCode\", and \"zipFirstFive\" are required."
                              type: string
                              default: DOMESTIC
                              enum:
                              - INTERNATIONAL
                              - MILITARY
                              - DOMESTIC
                              example: DOMESTIC
                            militaryStateCode:
                              type: string
                            militaryPostOfficeTypeCode:
                              type: string
                            state:
                              description: New state or province Veteran resides in.
                              type: string
                              pattern: ^[a-z,A-Z]{2}$
                              example: OR
                          allOf:
                          - if:
                              properties:
                                type:
                                  const: INTERNATIONAL
                            then:
                              required:
                              - city
                              - internationalPostalCode
                          - if:
                              properties:
                                type:
                                  const: DOMESTIC
                            then:
                              required:
                              - city
                              - zipFirstFive
                              - state
                          - if:
                              properties:
                                type:
                                  const: MILITARY
                            then:
                              required:
                              - zipFirstFive
                              - militaryStateCode
                              - militaryPostOfficeTypeCode
                        homelessness:
                          description: Object describing Veteran Homelessness if applicable.
                          type: object
                          additionalProperties: false
                          properties:
                            pointOfContact:
                              description: Object describing Homeless Veteran Point of Contact.
                              type: object
                              additionalProperties: false
                              required:
                              - pointOfContactName
                              - primaryPhone
                              properties:
                                pointOfContactName:
                                  description: Point of contact in direct contact with Veteran.
                                  type: string
                                  minLength: 1
                                  maxLength: 100
                                  pattern: ^([-a-zA-Z0-9/']+( ?))*$
                                  example: Jane Doe
                                primaryPhone:
                                  description: Phone Number Object for Point of Contact.
                                  type: object
                                  additionalProperties: false
                                  required:
                                  - areaCode
                                  - phoneNumber
                                  properties:
                                    areaCode:
                                      description: Area code of Point of Contact.
                                      type: string
                                      example: '555'
                                    phoneNumber:
                                      description: Primary phone of Point of Contact.
                                      type: string
                                      example: '5555555'
                            currentlyHomeless:
                              type: object
                              additionalProperties: false
                              required:
                              - homelessSituationType
                              - otherLivingSituation
                              properties:
                                homelessSituationType:
                                  description: Current state of the veteran's homelessness.
                                  type: string
                                  default: other
                                  enum:
                                  - fleeing
                                  - shelter
                                  - notShelter
                                  - anotherPerson
                                  - other
                                  example: fleeing
                                otherLivingSituation:
                                  description: For a 'homelessSituationType' of value 'other', please provide additional comments on the living situation.
                                  type: string
                                  maxLength: 500
                                  example: other living situation
                            homelessnessRisk:
                              type: object
                              additionalProperties: false
                              required:
                              - homelessnessRiskSituationType
                              - otherLivingSituation
                              properties:
                                homelessnessRiskSituationType:
                                  type: string
                                  default: other
                                  enum:
                                  - losingHousing
                                  - leavingShelter
                                  - other
                                otherLivingSituation:
                                  description: For a 'homelessnessRiskSituationType' of value 'other', please provide additional comments on the living situation.
                                  type: string
                                  maxLength: 500
                                  example: other living situation
                        isTerminallyIll:
                          type: boolean
                    serviceInformation:
                      description: Overview of Veteran's service history.
                      type: object
                      additionalProperties: false
                      required:
                      - servicePeriods
                      properties:
                        servicePeriods:
                          description: Identifies the Service dates and Branch the Veteran served in.
                          type: array
                          minItems: 1
                          uniqueItems: true
                          items:
                            type: object
                            required:
                            - serviceBranch
                            - activeDutyBeginDate
                            - activeDutyEndDate
                            properties:
                              serviceBranch:
                                description: Branch of Service during period.
                                type: string
                                example: Air Force
                                enum:
                                - Air Force
                                - Air Force Academy
                                - Air Force Reserves
                                - Air Force Civilian
                                - Air National Guard
                                - Army
                                - Army Air Corps
                                - Army Air Corps or Army Air Force
                                - Army National Guard
                                - Army Nurse Corps
                                - Army Reserves
                                - Coast Guard
                                - Coast Guard Academy
                                - Coast Guard Reserves
                                - Commonwealth Army Veteran
                                - Guerrilla Combination Service
                                - Marine
                                - Marine Corps
                                - Marine Corps Reserves
                                - Merchant Marine
                                - National Oceanic & Atmospheric Administration
                                - National Oceanic and Atmospheric Administration
                                - Naval Academy
                                - Navy
                                - Navy Reserves
                                - Other
                                - Public Health Service
                                - Regular Philippine Scout
                                - Regular Scout Service
                                - Space Force
                                - Special Philippine Scout
                                - Unknown
                                - US Military Academy
                                - Woman Air Corps
                                - Women's Army Corps
                              activeDutyBeginDate:
                                description: Date Started Active Duty. This date must be in the past.
                                type: string
                                pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                example: '1980-02-05'
                              activeDutyEndDate:
                                description: Date Completed Active Duty. Cannot be more than 180 days in the future, unless past service is also included.
                                type: string
                                pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                example: '1990-01-02'
                              separationLocationCode:
                                description: Code for the facility the Veteran plans to separate from. Code must match the values returned by the /intake-sites endpoint on the [Benefits reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                type: string
                                example: '98283'
                        confinements:
                          description: Used if the Veteran was ever a prisoner of war.
                          type: array
                          minItems: 1
                          uniqueItems: true
                          items:
                            type: object
                            additionalProperties: false
                            required:
                            - confinementBeginDate
                            - confinementEndDate
                            properties:
                              confinementBeginDate:
                                type: string
                                pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                              confinementEndDate:
                                type: string
                                pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                        reservesNationalGuardService:
                          type: object
                          additionalProperties: false
                          required:
                          - obligationTermOfServiceFromDate
                          - obligationTermOfServiceToDate
                          properties:
                            title10Activation:
                              description: Include if the Veteran is currently activated on federal orders within the National Guard or Reserves
                              type: object
                              additionalProperties: false
                              required:
                              - anticipatedSeparationDate
                              - title10ActivationDate
                              properties:
                                anticipatedSeparationDate:
                                  description: Anticipated date of separation. Date must be in the future.
                                  type: string
                                  pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                title10ActivationDate:
                                  description: Date cannot be in the future and must be after the earliest servicePeriod.activeDutyBeginDate.
                                  type: string
                                  pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                            obligationTermOfServiceFromDate:
                              type: string
                              pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                            obligationTermOfServiceToDate:
                              type: string
                              pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                            unitName:
                              type: string
                              pattern: ([a-zA-Z0-9\-'.,# ][a-zA-Z0-9\-'.,# ]?)*$
                            unitPhone:
                              type: object
                              additionalProperties: false
                              required:
                              - areaCode
                              - phoneNumber
                              properties:
                                areaCode:
                                  type: string
                                  example: '555'
                                phoneNumber:
                                  type: string
                                  example: '5555555'
                            receivingInactiveDutyTrainingPay:
                              type: boolean
                        alternateNames:
                          description: List any other names under which the Veteran served, if applicable.
                          type: array
                          minItems: 1
                          maxItems: 100
                          items:
                            type: object
                            additionalProperties: false
                            required:
                            - firstName
                            - lastName
                            properties:
                              firstName:
                                type: string
                                min: 1
                                max: 30
                                pattern: ^([-a-zA-Z0-9/']+( ?))+$
                              middleName:
                                type: string
                                min: 1
                                max: 30
                                pattern: ^([-a-zA-Z0-9/']+( ?))+$
                              lastName:
                                type: string
                                min: 1
                                max: 30
                                pattern: ^([-a-zA-Z0-9/']+( ?))+$
                    disabilities:
                      description: Any current disabilities or symptoms the Veteran is claiming are related to their military service and/or are service-connected.
                      type: array
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: object
                        additionalProperties: false
                        required:
                        - disabilityActionType
                        - name
                        properties:
                          specialIssues:
                            description: 'The special issues related to the disability. Note :: Only add special issues that you are certain about.  Incorrect special issues can lead to processing delays or denials.  [See special issue descriptions.](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000179710/Appendix-E-Index-of-Corporate-Flashes-and-Special-Issues#2b)'
                            type: array
                            items:
                              type: string
                              enum:
                              - ALS
                              - HEPC
                              - PTSD/1
                              - PTSD/2
                              - PTSD/3
                              - PTSD/4
                              - MST
                              - 38 USC 1151
                              - ABA Election
                              - Abandoned VDC Claim
                              - AMC NOD Brokering Project
                              - Administrative Decision Review - Level 1
                              - Administrative Decision Review - Level 2
                              - Agent Orange - Vietnam
                              - Agent Orange - outside Vietnam or unknown
                              - AMA SOC/SSOC Opt-In
                              - Amyotrophic Lateral Sclerosis (ALS)
                              - Annual Eligibility Report
                              - Asbestos
                              - AutoEstablish
                              - Automated Drill Pay Adjustment
                              - Automated Return to Active Duty
                              - BDD – Excluded
                              - Brokered - D1BC
                              - Brokered - Internal
                              - Burn Pit Exposure
                              - C-123
                              - COWC
                              - Character of Discharge
                              - Challenge
                              - ChemBio
                              - Claimant Service Verification Accepted
                              - Combat Related Death
                              - Compensation Service Review – AO Outside RVN & Ship
                              - Compensation Service Review - Equitable Relief
                              - Compensation Service Review - Extraschedular
                              - Compensation Service Review – MG/CBRNE/Shad
                              - Compensation Service Review - Opinion
                              - Compensation Service Review - Over $25K
                              - Compensation Service Review - POW
                              - Compensation Service Review - Radiation
                              - Decision Ready Claim
                              - Decision Ready Claim - Deferred
                              - Decision Ready Claim - Partial Deferred
                              - Disability Benefits Questionnaire - Private
                              - Disability Benefits Questionnaire - VA
                              - DRC – Exam Review Complete Approved
                              - DRC – Exam Review Complete Disapproved
                              - DRC – Pending File Scan
                              - DRC – Vendor Exam Recommendation
                              - DTA Error – Exam/MO
                              - DTA Error – Fed Recs
                              - DTA Error – Other Recs
                              - DTA Error – PMRs
                              - Emergency Care – CH17 Determination
                              - Enhanced Disability Severance Pay
                              - Environmental Hazard - Camp Lejeune
                              - Environmental Hazard – Camp Lejeune – Louisville
                              - Environmental Hazard in Gulf War
                              - Extra-Schedular 3.321(b)(1)
                              - Extra-Schedular IU 4.16(b)
                              - FDC Excluded - Additional Claim Submitted
                              - FDC Excluded - All Required Items Not Submitted
                              - FDC Excluded - Appeal Pending
                              - FDC Excluded - Appeal submitted
                              - FDC Excluded - Claim Pending
                              - FDC Excluded - Claimant Declined FDC Processing
                              - FDC Excluded - Evidence Received After FDC CEST
                              - FDC Excluded - FDC Certification Incomplete
                              - FDC Excluded - FTR to Examination
                              - FDC Excluded - Necessary Form(s) not Submitted
                              - FDC Excluded - Needs Non-Fed Evidence Development
                              - FDC Excluded - requires INDPT VRFCTN of FTI
                              - Fed Record Delay - No Further Dev
                              - Force Majeure
                              - Fully Developed Claim
                              - Gulf War Presumptive
                              - HIV
                              - Hepatitis C
                              - Hospital Adjustment Action Plan FY 18/19
                              - IDES Deferral
                              - JSRRC Request
                              - Local Hearing
                              - Local Mentor Review
                              - Local Quality Review
                              - Local Quality Review IPR
                              - Medical Foster Home
                              - Military Sexual Trauma (MST)
                              - MQAS Separation and Severance Pay Audit
                              - Mustard Gas
                              - National Quality Review
                              - Nehmer AO Peripheral Neuropathy
                              - Nehmer Phase II
                              - Non-ADL Notification Letter
                              - Non-Nehmer AO Peripheral Neuropathy
                              - Non-PTSD Personal Trauma
                              - Potential Under/Overpayment
                              - POW
                              - PTSD - Combat
                              - PTSD - Non-Combat
                              - PTSD - Personal Trauma
                              - RO Special issue 1
                              - RO Special issue 2
                              - RO Special Issue 3
                              - RO Special Issue 4
                              - RO Special Issue 5
                              - RO Special Issue 6
                              - RO Special Issue 7
                              - RO Special Issue 8
                              - RO Special Issue 9
                              - RVSR Examination
                              - Radiation
                              - Radiation Radiogenic Disability Confirmed
                              - Rating Decision Review - Level 1
                              - Rating Decision Review - Level 2
                              - Ready for Exam
                              - RRD
                              - Same Station Review
                              - SHAD
                              - Sarcoidosis
                              - Simultaneous Award Adjustment Not Permitted
                              - Specialized Records Request
                              - Stage 1 Development
                              - Stage 2 Development
                              - Stage 3 Development
                              - TBI Exam Review
                              - Temp 100 Convalescence
                              - Temp 100 Hospitalization
                              - Tobacco
                              - Tort Claim
                              - Traumatic Brain Injury
                              - Upfront Verification
                              - VACO Special issue 1
                              - VACO Special issue 2
                              - VACO Special Issue 3
                              - VACO Special Issue 4
                              - VACO Special Issue 5
                              - VACO Special Issue 6
                              - VACO Special Issue 7
                              - VACO Special Issue 8
                              - VACO Special Issue 9
                              - VASRD-Cardiovascular
                              - VASRD-Dental
                              - VASRD-Digestive
                              - VASRD-Endocrine
                              - VASRD-Eye
                              - VASRD-GU
                              - VASRD-GYN
                              - VASRD-Hemic
                              - VASRD-Infectious
                              - VASRD-Mental
                              - VASRD-Musculoskeletal
                              - VASRD-Neurological
                              - VASRD-Respiratory/Auditory
                              - VASRD-Skin
                              - Vendor Exclusion - No Diagnosis
                              - VONAPP Direct Connect
                              - WARTAC
                              - WARTAC Trainee
                            example: ALS
                          ratedDisabilityId:
                            description: The Type of Disability.
                            type: string
                            example: '1100583'
                          diagnosticCode:
                            description: Specific Diagnostic Code.
                            type: integer
                            example: 9999
                          disabilityActionType:
                            description: "The status of the current disability.  \n If value is \"INCREASE\", then \"ratedDisabilityId\" and \"diagnosticCode\" are required."
                            type: string
                            enum:
                            - NONE
                            - NEW
                            - INCREASE
                            example: NEW
                          name:
                            description: 'What the Disability is called.

                              When disabilityActionType is NEW or INCREASE, name must match pattern:

                              ^[a-zA-Z0-9''\",.#&;:%<>/()\[\]\\ -]+$'
                            type: string
                            example: PTSD (post traumatic stress disorder)
                            maxLength: 255
                          classificationCode:
                            type: string
                            example: '249470'
                          approximateBeginDate:
                            description: Approximate date disability began. Date must be in the past.
                            type: string
                            pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                            example: '2018-03-02'
                          serviceRelevance:
                            description: Explanation of how the disability(ies) relates to the in-service event/exposure/injury.
                            type: string
                            example: Heavy equipment operator in service.
                          secondaryDisabilities:
                            description: Identifies the Secondary Service Disability information of the Veteran.
                            type: array
                            minItems: 1
                            uniqueItems: true
                            items:
                              type: object
                              additionalProperties: false
                              required:
                              - name
                              - disabilityActionType
                              - serviceRelevance
                              properties:
                                name:
                                  description: What the Disability is called.
                                  type: string
                                  pattern: ^[a-zA-Z0-9'",.#&;:%<>/()\[\]\\ -]+$
                                  maxLength: 255
                                  example: PTSD
                                disabilityActionType:
                                  description: The status of the secondary disability.
                                  type: string
                                  enum:
                                  - SECONDARY
                                  example: SECONDARY
                                serviceRelevance:
                                  description: Explanation of how the disability(ies) relates to the in-service event/exposure/injury.
                                  type: string
                                  example: Heavy equipment operator in service.
                                specialIssues:
                                  description: 'The special issues related to the disability. Note :: Only add special issues that you are certain about.  Incorrect special issues can lead to processing delays or denials.  [See special issue descriptions.](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000179710/Appendix-E-Index-of-Corporate-Flashes-and-Special-Issues?query=special%20issues#2b)'
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - ALS
                                    - HEPC
                                    - PTSD/1
                                    - PTSD/2
                                    - PTSD/3
                                    - PTSD/4
                                    - MST
                                    - 38 USC 1151
                                    - ABA Election
                                    - Abandoned VDC Claim
                                    - AMC NOD Brokering Project
                                    - Administrative Decision Review - Level 1
                                    - Administrative Decision Review - Level 2
                                    - Agent Orange - Vietnam
                                    - Agent Orange - outside Vietnam or unknown
                                    - AMA SOC/SSOC Opt-In
                                    - Amyotrophic Lateral Sclerosis (ALS)
                                    - Annual Eligibility Report
                                    - Asbestos
                                    - AutoEstablish
                                    - Automated Drill Pay Adjustment
                                    - Automated Return to Active Duty
                                    - BDD – Excluded
                                    - Brokered - D1BC
                                    - Brokered - Internal
                                    - Burn Pit Exposure
                                    - C-123
                                    - COWC
                                    - Character of Discharge
                                    - Challenge
                                    - ChemBio
                                    - Claimant Service Verification Accepted
                                    - Combat Related Death
                                    - Compensation Service Review – AO Outside RVN & Ship
                                    - Compensation Service Review - Equitable Relief
                                    - Compensation Service Review - Extraschedular
                                    - Compensation Service Review – MG/CBRNE/Shad
                                    - Compensation Service Review - Opinion
                                    - Compensation Service Review - Over $25K
                                    - Compensation Service Review - POW
                                    - Compensation Service Review - Radiation
                                    - Decision Ready Claim
                                    - Decision Ready Claim - Deferred
                                    - Decision Ready Claim - Partial Deferred
                                    - Disability Benefits Questionnaire - Private
                                    - Disability Benefits Questionnaire - VA
                                    - DRC – Exam Review Complete Approved
                                    - DRC – Exam Review Complete Disapproved
                                    - DRC – Pending File Scan
                                    - DRC – Vendor Exam Recommendation
                                    - DTA Error – Exam/MO
                                    - DTA Error – Fed Recs
                                    - DTA Error – Other Recs
                                    - DTA Error – PMRs
                                    - Emergency Care – CH17 Determination
                                    - Enhanced Disability Severance Pay
                                    - Environmental Hazard - Camp Lejeune
                                    - Environmental Hazard – Camp Lejeune – Louisville
                                    - Environmental Hazard in Gulf War
                                    - Extra-Schedular 3.321(b)(1)
                                    - Extra-Schedular IU 4.16(b)
                                    - FDC Excluded - Additional Claim Submitted
                                    - FDC Excluded - All Required Items Not Submitted
                                    - FDC Excluded - Appeal Pending
                                    - FDC Excluded - Appeal submitted
                                    - FDC Excluded - Claim Pending
                                    - FDC Excluded - Claimant Declined FDC Processing
                                    - FDC Excluded - Evidence Received After FDC CEST
                                    - FDC Excluded - FDC Certification Incomplete
                                    - FDC Excluded - FTR to Examination
                                    - FDC Excluded - Necessary Form(s) not Submitted
                                    - FDC Excluded - Needs Non-Fed Evidence Development
                                    - FDC Excluded - requires INDPT VRFCTN of FTI
                                    - Fed Record Delay - No Further Dev
                                    - Force Majeure
                                    - Fully Developed Claim
                                    - Gulf War Presumptive
                                    - HIV
                                    - Hepatitis C
                                    - Hospital Adjustment Action Plan FY 18/19
                                    - IDES Deferral
                                    - JSRRC Request
                                    - Local Hearing
                                    - Local Mentor Review
                                    - Local Quality Review
                                    - Local Quality Review IPR
                                    - Medical Foster Home
                                    - Military Sexual Trauma (MST)
                                    - MQAS Separation and Severance Pay Audit
                                    - Mustard Gas
                                    - National Quality Review
                                    - Nehmer AO Peripheral Neuropathy
                                    - Nehmer Phase II
                                    - Non-ADL Notification Letter
                                    - Non-Nehmer AO Peripheral Neuropathy
                                    - Non-PTSD Personal Trauma
                                    - Potential Under/Overpayment
                                    - POW
                                    - PTSD - Combat
                                    - PTSD - Non-Combat
                                    - PTSD - Personal Trauma
                                    - RO Special issue 1
                                    - RO Special issue 2
                                    - RO Special Issue 3
                                    - RO Special Issue 4
                                    - RO Special Issue 5
                                    - RO Special Issue 6
                                    - RO Special Issue 7
                                    - RO Special Issue 8
                                    - RO Special Issue 9
                                    - RVSR Examination
                                    - Radiation
                                    - Radiation Radiogenic Disability Confirmed
                                    - Rating Decision Review - Level 1
                                    - Rating Decision Review - Level 2
                                    - Ready for Exam
                                    - Same Station Review
                                    - SHAD
                                    - Sarcoidosis
                                    - Simultaneous Award Adjustment Not Permitted
                                    - Specialized Records Request
                                    - Stage 1 Development
                                    - Stage 2 Development
                                    - Stage 3 Development
                                    - TBI Exam Review
                                    - Temp 100 Convalescence
                                    - Temp 100 Hospitalization
                                    - Tobacco
                                    - Tort Claim
                                    - Traumatic Brain Injury
                                    - Upfront Verification
                                    - VACO Special issue 1
                                    - VACO Special issue 2
                                    - VACO Special Issue 3
                                    - VACO Special Issue 4
                                    - VACO Special Issue 5
                                    - VACO Special Issue 6
                                    - VACO Special Issue 7
                                    - VACO Special Issue 8
                                    - VACO Special Issue 9
                                    - VASRD-Cardiovascular
                                    - VASRD-Dental
                                    - VASRD-Digestive
                                    - VASRD-Endocrine
                                    - VASRD-Eye
                                    - VASRD-GU
                                    - VASRD-GYN
                                    - VASRD-Hemic
                                    - VASRD-Infectious
                                    - VASRD-Mental
                                    - VASRD-Musculoskeletal
                                    - VASRD-Neurological
                                    - VASRD-Respiratory/Auditory
                                    - VASRD-Skin
                                    - Vendor Exclusion - No Diagnosis
                                    - VONAPP Direct Connect
                                    - WARTAC
                                    - WARTAC Trainee
                                  example: ALS
                                classificationCode:
                                  type: string
                                  example: '249470'
                                approximateBeginDate:
                                  description: Approximate date disability began.
                                  type: string
                                  pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                  example: '2018-03-02'
                        allOf:
                        - if:
                            properties:
                              disabilityActionType:
                                enum:
                                - INCREASE
                          then:
                            required:
                            - ratedDisabilityId
                            - diagnosticCode
                        - if:
                            properties:
                              disabilityActionType:
                                enum:
                                - NONE
                            required:
                            - secondaryDisabilities
                          then:
                            required:
                            - diagnosticCode
                    treatments:
                      description: Identifies the Service Treatment information of the Veteran.
                      type: array
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: object
                        additionalProperties: false
                        properties:
                          startDate:
                            description: Date Veteran started treatment.
                            type:
                            - 'null'
                            - string
                            pattern: ^(\d{4}-(\d{2}-(\d{2})?)?|\d{4}-\d{2}|\d{4}|)$
                            example: 2018-03-02, 2018-03, or 2018
                          endDate:
                            description: Date Veteran ended treatment.
                            type:
                            - 'null'
                            - string
                            pattern: ^(\d{4}-(\d{2}-(\d{2})?)?|\d{4}-\d{2}|\d{4}|)$
                            example: 2018-03-02, 2018-03, or 2018
                          treatedDisabilityNames:
                            description: Names of any disabilities for which the Veteran was treated.
                            type:
                            - array
                            - 'null'
                            maxItems: 101
                            uniqueItems: true
                            items:
                              description: Name of Disabilities Veteran was Treated for.
                              type: string
                              example: PTSD (post traumatic stress disorder)
                          center:
                            description: VA Medical Center(s) and Department of Defense Military Treatment Facilities where the Veteran received treatment after discharge for any claimed disabilities.
                            type: object
                            additionalProperties: false
                            properties:
                              name:
                                description: Name of facility Veteran was treated in.
                                type: string
                                pattern: ([a-zA-Z0-9"\/&\(\)\-'.,# ]([a-zA-Z0-9(\)\-'.,# ])?)+$
                                example: Private Facility 2
                              country:
                                description: Country Veteran was treated in.
                                minLength: 1
                                maxLength: 50
                                type: string
                                example: USA
                    servicePay:
                      description: Details about Veteran receiving Service Pay from DoD.
                      type: object
                      additionalProperties: false
                      properties:
                        waiveVABenefitsToRetainTrainingPay:
                          description: Is Veteran Waiving benefits to retain training pay.
                          type: boolean
                          example: true
                        waiveVABenefitsToRetainRetiredPay:
                          description: Is Veteran Waiving benefits to retain Retiree pay.
                          type: boolean
                          example: true
                        militaryRetiredPay:
                          description: Retirement Pay information from Military Service.
                          type: object
                          additionalProperties: false
                          required:
                          - receiving
                          - payment
                          properties:
                            receiving:
                              description: Is Veteran getting Retiree pay?
                              type: boolean
                              example: true
                            willReceiveInFuture:
                              description: "Will Veteran get Retiree pay in future?  \n If true, then \"futurePayExplanation\" attribute is required."
                              type: boolean
                              default: false
                              example: false
                            payment:
                              description: Part of DoD paying Retirement Benefits.
                              type: object
                              additionalProperties: false
                              required:
                              - serviceBranch
                              properties:
                                serviceBranch:
                                  description: Branch of Service making payments.
                                  type: string
                                  enum:
                                  - Air Force
                                  - Air Force Reserves
                                  - Air National Guard
                                  - Army
                                  - Army National Guard
                                  - Army Reserves
                                  - Coast Guard
                                  - Coast Guard Reserves
                                  - Marine Corps
                                  - Marine Corps Reserves
                                  - National Oceanic &amp; Atmospheric Administration
                                  - National Oceanic & Atmospheric Administration
                                  - Navy
                                  - Navy Reserves
                                  - Public Health Service
                                  - Air Force Academy
                                  - Army Air Corps or Army Air Force
                                  - Army Nurse Corps
                                  - Coast Guard Academy
                                  - Merchant Marine
                                  - Naval Academy
                                  - Other
                                  - US Military Academy
                                  - Women's Army Corps
                                  - Space Force
                                  example: Air Force
                                amount:
                                  description: Amount being received.
                                  type: number
                                  example: 100
                            futurePayExplanation:
                              description: Explains why future pay will be received.
                              type: string
                              example: Will be retiring soon.
                        separationPay:
                          description: Details about separation pay.
                          type: object
                          additionalProperties: false
                          required:
                          - received
                          properties:
                            received:
                              description: Has separation pay been received?
                              type: boolean
                              example: true
                              default: true
                            payment:
                              description: Separation pay payment details.
                              type: object
                              additionalProperties: false
                              properties:
                                serviceBranch:
                                  description: Branch of Service making payments.
                                  type: string
                                  enum:
                                  - Air Force
                                  - Air Force Reserves
                                  - Air National Guard
                                  - Army
                                  - Army National Guard
                                  - Army Reserves
                                  - Coast Guard
                                  - Coast Guard Reserves
                                  - Marine Corps
                                  - Marine Corps Reserves
                                  - National Oceanic &amp; Atmospheric Administration
                                  - National Oceanic & Atmospheric Administration
                                  - Navy
                                  - Navy Reserves
                                  - Public Health Service
                                  - Air Force Academy
                                  - Army Air Corps or Army Air Force
                                  - Army Nurse Corps
                                  - Coast Guard Academy
                                  - Merchant Marine
                                  - Naval Academy
                                  - Other
                                  - US Military Academy
                                  - Women's Army Corps
                                  - Space Force
                                  example: Air Force
                                amount:
                                  description: Amount being received.
                                  type: number
                                  example: 100
                            receivedDate:
                              description: Approximate date separation pay was received.
                              type: string
                              pattern: ^(\d{4}-(\d{2}-(\d{2})?)?|\d{4}-\d{2}|\d{4}|)$
                              example: 2018-03-02, 2018-03, or 2018
                    directDeposit:
                      description: Financial Direct Deposit information for Veteran.
                      type: object
                      additionalProperties: false
                      properties:
                        accountType:
                          description: Veteran Account Type (value is case insensitive).
                          type: string
                          enum:
                          - CHECKING
                          - SAVINGS
                          example: CHECKING
                        accountNumber:
                          description: Veteran Bank Account Number.
                          minLength: 4
                          maxLength: 17
                          type: string
                          example: '123123123123'
                        routingNumber:
                          description: Veteran Bank Routing Number.
                          type: string
                          pattern: ^\d{9}$
                          example: '123123123'
                        bankName:
                          description: Provide the name of the bank where the Veteran wants the direct deposit.
                          maxLength: 35
                          type: string
                          example: Some Bank
                    claimantCertification:
                      description: Determines if person submitting the claim is certified to do so.
                      type: boolean
                      example: true
                    standardClaim:
                      description: A value of false indicates the claim should be processed as a Fully Developed Claim.
                      type: boolean
                      example: false
                    applicationExpirationDate:
                      description: Time stamp of when claim expires.  If not provided, value will be set to 1 year in the future from current day.
                      type: string
                      example: '2018-08-28T19:53:45+00:00'
                    autoCestPDFGenerationDisabled:
                      description: Allows you to bypass the auto PDF generation and instead upload the Disability form itself through Support Documents.
                      type: boolean
                      example: false
                    claimDate:
                      description: Date (or Timestamp with TimeZone) when claim is being submitted to the VA. Date cannot be in the future. UTC TimeZone is assumed unless otherwise specified.
                      type: string
                      pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])(?:T[0-1][0-9]:[0-5][0-9]:[0-5][0-9](?:[-+][0-9]{2}:[0-9]{2}|Z))*$
                      example: '2018-08-28T19:53:45+00:00'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
    post:
      summary: Submits form 526
      tags:
      - Disability
      operationId: POST:/forms/526
      security:
      - productionOauth:
        - claim.read
        - claim.write
      - sandboxOauth:
        - claim.read
        - claim.write
      - bearer_token: []
      description: "Establishes a [Disability Compensation Claim](https://www.vba.va.gov/pubs/forms/VBA-21-526EZ-ARE.pdf) in VBMS. Submits any PDF attachments as a multi-part payload and returns an ID. For claims that are not original claims, this endpoint generates a filled 526 PDF along with the submission.\n<br/><br/>\nA 200 response indicates the submission was successful, but the claim has not reached VBMS until it has a “claim established” status. Check claim status using the GET /claims/{id} endpoint.\n<br/><br/>\n**Original claims**<br/>\nAn original claim is the Veteran’s first claim filed with VA, regardless of the claim type or status. The original claim must have either the Veteran’s wet signature or e-signature. Once there is an original claim on file, future claims may be submitted by a representative without the Veteran’s signature. Uploading a PDF for subsequent claims is not required or recommended.\n<br/><br/>\nPOST the original claim with the autoCestPDFGenerationDisabled boolean as true. After a 200 response, use the PUT /forms/526/{id} endpoint to upload a scanned PDF of your form, signed in ink or e-signature, by the Veteran.\n<br/><br/>\nThe claim data submitted through the POST endpoint must match the signed PDF uploaded through the PUT endpoint. If it does not, VA will manually update the data to match the PDF, and your claim may not process correctly.\n<br/><br/>\n**Standard and fully developed claims (FDCs)**<br/>\n[Fully developed claims (FDCs)](https://www.va.gov/disability/how-to-file-claim/evidence-needed/fully-developed-claims/) are claims certified by the submitter to include all information needed for processing. These claims process faster than claims submitted through the standard claim process. If a claim is certified for the FDC, but is missing needed information, it will route through the standard claim process.\n<br/><br/>\nTo certify a claim for the FDC process, set the standardClaim indicator to false.\n<br/><br/>\n**Flashes and special issues**<br/>\nIncluding flashes and special issues in your 526 claim submission helps VA properly route and prioritize current and future claims for the Veteran and reduces claims processing time.\n\n - Flashes are attributes that describe special circumstances which apply to a Veteran, such as homelessness or terminal illness.\n - Special Issues are attributes that describe special circumstances which apply to a particular claim, such as PTSD.\n\n\n<br/>\n**Notes On 'disabilityActionType' and 'secondaryDisabilities'**<br/>\n\n- We now recommend using the value **NEW** instead of **INCREASE** for **disabilityActionType** in the Benefits Claims API. For context:\n\n  - When requesting a disability **INCREASE**, the **ratedDisabiltiyId** and **diagnosticCode** are also required. The Benefits Claims API doesn't have access to specific values that are required for these fields. By submitting **NEW** for **disabilityActionType**, these values are not required.\n\n  - Using **NEW** instead of **INCREASE** will not significantly impact how the claim is processed by VA.\n\n- We don’t support the **disabilityActionType** of **REOPEN**. It didn't provide value in claim processing because its functionality wasn’t supported.\n\n- We now recommend using the **disabilities** attribute with a **disabilityActionType** value of **NEW**, instead of sending disabilities as nested values with the **secondaryDisabilities** attribute.\n\n  - This approach will not significantly impact how the claim is processed by VA and is better aligned with the 526 form.\n\n  - **secondaryDisabilties** is required if the primary disability has a **disabilityActionType** equal to **NONE**.\n\n- If you are required to use **secondaryDisabilities**, there are additional validations that apply:\n\n  - **disabilityActionType** of the secondary disability must equal **SECONDARY**.\n\n  - **classificationCode** in the secondary disability is optional. If provided, its value must match the value of the **name** attribute.\n\n  - If **classificationCode** isn’t provided, then the **name** attribute must not contain any special characters and must not exceed 255 characters.\n\n  - **specialIssues** must be nil.\n\n  - **approximateBeginDate** was added, but it’s optional. If provided, it must be a valid date.\n"
      parameters:
      - in: header
        name: X-VA-SSN
        required: false
        description: Claimant SSN if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-First-Name
        required: false
        description: Claimant first name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Last-Name
        required: false
        description: Claimant last name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Birth-Date
        required: false
        description: Claimant birthdate if consumer is representative, in iso8601 format
        schema:
          type: string
      responses:
        '200':
          description: 526 Response
          content:
            application/json:
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000004
                  type: claims_api_claim
                  attributes:
                    evss_id: null
                    open: true
                    waiver_submitted: null
                    requested_decision: null
                    claim_type: null
                    updated_at: '2024-01-01T00:00:00.000Z'
                    date_filed: null
                    min_est_date: null
                    max_est_date: null
                    development_letter_sent: null
                    decision_letter_sent: null
                    documents_needed: null
                    contention_list: null
                    events_timeline: []
                    va_representative: null
                    phase: null
                    phase_change_date: null
                    ever_phase_back: null
                    current_phase_back: null
                    token: 00000000-0000-0000-0000-000000000005
                    status: pending
                    flashes:
                    - Hardship
                    - Homeless
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Internal vets-api Claim ID
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - open
                        - updated_at
                        - events_timeline
                        - token
                        - status
                        - flashes
                        properties:
                          evss_id:
                            type: 'null'
                            description: EVSS Claim ID
                          date_filed:
                            type: 'null'
                            description: Date in YYYY-MM-DD the claim was first filed
                          min_est_date:
                            type: 'null'
                            description: Minimum Estimated Claim Completion Date
                          max_est_date:
                            type: 'null'
                            description: Maximum Estimated Claim Completion Date
                          phase_change_date:
                            type: 'null'
                            description: Date of last phase change
                          open:
                            type: boolean
                            description: Has the claim been resolved
                          waiver_submitted:
                            type: 'null'
                            description: Requested Decision or Waiver 5103 Submitted
                          documents_needed:
                            type: 'null'
                            description: Does the claim require additional documents to be submitted
                          development_letter_sent:
                            type: 'null'
                            description: Indicates if a Development Letter has been sent to the Claimant regarding a benefit claim
                          decision_letter_sent:
                            type: 'null'
                            description: Indicates if a Decision Letter has been sent to the Claimant regarding a benefit claim
                          phase:
                            type: 'null'
                          ever_phase_back:
                            type: 'null'
                          current_phase_back:
                            type: 'null'
                          requested_decision:
                            type: 'null'
                            description: The claim filer has requested a claim decision be made
                          claim_type:
                            type: 'null'
                            description: The type of claim originally submitted
                          updated_at:
                            type: string
                            format: date
                            description: Time stamp of last change to the claim
                          contention_list:
                            type: 'null'
                          va_representative:
                            type: 'null'
                          events_timeline:
                            type: array
                          token:
                            type: string
                          status:
                            type: string
                            enum:
                            - pending
                            description: Current status of the claim
                          flashes:
                            type: array
                            items:
                              type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
                  code: '401'
                  status: '401'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable entity
          content:
            application/json:
              examples:
                Violates JSON Schema:
                  value:
                    errors:
                    - status: 422
                      detail: The property /someBadKey is not defined on the schema. Additional properties are not allowed
                      source: /someBadKey
                Not a JSON Object:
                  value:
                    errors:
                    - status: 422
                      detail: 'The request body isn''t a JSON object: "This is not valid JSON"'
                      source: ''
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - status
                      - detail
                      - source
                      properties:
                        status:
                          type: integer
                          description: HTTP error code
                        detail:
                          type: string
                          description: HTTP error detail
                        source:
                          type: string
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  example:
                    type: form/526
                    attributes:
                      veteran:
                        currentlyVAEmployee: false
                        currentMailingAddress:
                          city: Portland
                          country: USA
                          zipFirstFive: '12345'
                          addressLine1: 1234 Couch Street
                          addressLine2: Apt. 22
                          type: DOMESTIC
                          zipLastFour: '6789'
                          state: OR
                      claimantCertification: true
                      disabilities:
                      - ratedDisabilityId: '1100583'
                        diagnosticCode: 9999
                        disabilityActionType: NEW
                        name: PTSD (post traumatic stress disorder)
                        specialIssues:
                        - Asbestos
                        secondaryDisabilities:
                        - name: PTSD personal trauma
                          disabilityActionType: SECONDARY
                          serviceRelevance: Caused by a service-connected disability\nLengthy description
                      standardClaim: false
                      autoCestPDFGenerationDisabled: false
                      applicationExpirationDate: '2015-08-28T19:53:45+00:00'
                      serviceInformation:
                        servicePeriods:
                        - activeDutyEndDate: '1990-01-02'
                          serviceBranch: Air Force
                          activeDutyBeginDate: '1980-02-05'
                        - activeDutyEndDate: '1999-01-01'
                          serviceBranch: Air Force Reserves
                          activeDutyBeginDate: '1990-04-05'
                  properties:
                    attributes:
                      $schema: http://json-schema.org/draft-07/schema#
                      description: Claims API 526 Schema
                      type: object
                      additionalProperties: false
                      required:
                      - veteran
                      - serviceInformation
                      - disabilities
                      - standardClaim
                      - autoCestPDFGenerationDisabled
                      properties:
                        veteran:
                          description: Veteran Object being submitted in Claim
                          type: object
                          additionalProperties: false
                          required:
                          - currentMailingAddress
                          - currentlyVAEmployee
                          properties:
                            flashes:
                              description: Attributes that describe special circumstances which apply to a Veteran.
                              type: array
                              items:
                                type: string
                                enum:
                                - Agent Orange - Vietnam
                                - Amyotrophic Lateral Sclerosis
                                - Blind
                                - Blue Water Navy
                                - Formerly Homeless
                                - GW Undiagnosed Illness
                                - Hardship
                                - Homeless
                                - Medal of Honor
                                - POW
                                - Priority Processing - Veteran over age 85
                                - Purple Heart
                                - Seriously Injured/Very Seriously Injured
                                - Specially Adapted Housing Claimed
                                - Terminally Ill
                              example: Hardship
                            currentlyVAEmployee:
                              type: boolean
                              description: Flag if Veteran is VA Employee.
                              example: false
                            currentMailingAddress:
                              description: Current Mailing Address Object being submitted.
                              type: object
                              additionalProperties: false
                              properties:
                                addressLine1:
                                  description: Address Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 30
                                  example: 1234 Couch Street
                                addressLine2:
                                  description: Additional Address Information Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 10
                                  example: Apt. 22
                                addressLine3:
                                  description: Additional Address Information Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 10
                                  example: Box 123
                                city:
                                  description: City Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.#]([-a-zA-Z0-9'.# ])?)+$
                                  maxLength: 20
                                  example: Portland
                                country:
                                  description: Country Veteran resides in.  Value must match the values returned by the "/countries" endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                  type: string
                                  example: USA
                                zipFirstFive:
                                  description: Zipcode (First 5 digits) Veteran resides in.
                                  type: string
                                  pattern: ^\d{5}?$
                                  example: '12345'
                                zipLastFour:
                                  description: Zipcode (Last 4 digits) Veteran resides in.
                                  type: string
                                  pattern: ^\d{4}?$
                                  example: '6789'
                                internationalPostalCode:
                                  type: string
                                type:
                                  description: "Type of residence Veteran resides in.  \n If value is \"INTERNATIONAL\", then \"addressLine1\", \"city\", \"country\", and \"internationalPostalCode\" are required.  \n If value is \"DOMESTIC\", then \"addressLine1\", \"city\", \"state\", \"country\", and \"zipFirstFive\" are required.  \n If value is \"MILITARY\", then \"addressLine1\", \"country\", \"militaryStateCode\", \"militaryPostOfficeTypeCode\", and \"zipFirstFive\" are required."
                                  type: string
                                  default: DOMESTIC
                                  enum:
                                  - INTERNATIONAL
                                  - MILITARY
                                  - DOMESTIC
                                  example: DOMESTIC
                                state:
                                  description: State or province Veteran resides in.
                                  type: string
                                  pattern: ^[a-z,A-Z]{2}$
                                  example: OR
                              allOf:
                              - if:
                                  properties:
                                    type:
                                      const: INTERNATIONAL
                                then:
                                  required:
                                  - addressLine1
                                  - city
                                  - country
                                  - type
                                  - internationalPostalCode
                              - if:
                                  properties:
                                    type:
                                      const: DOMESTIC
                                then:
                                  required:
                                  - addressLine1
                                  - city
                                  - country
                                  - zipFirstFive
                                  - type
                                  - state
                              - if:
                                  properties:
                                    type:
                                      const: MILITARY
                                then:
                                  required:
                                  - addressLine1
                                  - country
                                  - zipFirstFive
                                  - militaryStateCode
                                  - militaryPostOfficeTypeCode
                                  - type
                            changeOfAddress:
                              description: A Change of Address Object being submitted.
                              type: object
                              additionalProperties: false
                              required:
                              - country
                              - type
                              - addressLine1
                              - addressChangeType
                              - beginningDate
                              properties:
                                beginningDate:
                                  description: Date in YYYY-MM-DD the Veteran changed address. Date must be in the future if change is temporary.
                                  pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                  type: string
                                  example: '2018-06-04'
                                endingDate:
                                  description: Date in YYYY-MM-DD the changed address expires, if change is temporary.
                                  type: string
                                  pattern: ^(\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
                                  example: '2018-06-04'
                                addressChangeType:
                                  description: Temporary or Permanent change of address.
                                  type: string
                                  example: PERMANENT
                                addressLine1:
                                  description: New Address Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 30
                                  example: 1234 Couch Street
                                addressLine2:
                                  description: New Additional Address Information Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 30
                                  example: Apt. 22
                                city:
                                  description: New city Veteran resides in.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.#]([-a-zA-Z0-9'.# ])?)+$
                                  maxLength: 20
                                  example: Portland
                                country:
                                  description: New country Veteran resides in. Value must match the values returned by the "/countries" endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                  type: string
                                  example: USA
                                zipFirstFive:
                                  description: New zipcode (First 5 digits) Veteran resides in.
                                  type: string
                                  pattern: ^\d{5}?$
                                  example: '12345'
                                zipLastFour:
                                  description: New zipcode (Last 4 digits) Veteran resides in.
                                  type: string
                                  pattern: ^\d{4}?$
                                  example: '6789'
                                internationalPostalCode:
                                  type: string
                                type:
                                  description: "New type of residence Veteran resides in.  \n If value is \"INTERNATIONAL\", then \"city\" and \"internationalPostalCode\" are required.  \n If value is \"DOMESTIC\", then \"city\", \"state\", and \"zipFirstFive\" are required.  \n If value is \"MILITARY\", then \"militaryStateCode\", \"militaryPostOfficeTypeCode\", and \"zipFirstFive\" are required."
                                  type: string
                                  default: DOMESTIC
                                  enum:
                                  - INTERNATIONAL
                                  - MILITARY
                                  - DOMESTIC
                                  example: DOMESTIC
                                militaryStateCode:
                                  type: string
                                militaryPostOfficeTypeCode:
                                  type: string
                                state:
                                  description: New state or province Veteran resides in.
                                  type: string
[...]
