openapi: 3.0.1
info:
  title: Address Validation 5103 Waiver Appealable Issues API
  description: "The Address Validation API accepts and validates an address and standardizes it for mailing. It can also help you process an address by:\n* Inferring missing or incorrect address components\n* Supplementing an address with additional information, such as geocode, latitude and longitude, and postal service metadata (when available)\n## Technical Overview\nThe Address Validation API returns validated addresses as they appear in the USPS database for domestic addresses. It validates by separating the address into individual components and then providing component-level validation checks.\n\nThis API is certified by the United States Postal Service (USPS) Coding Accuracy Support System (CASS) and adheres to [United States Postal Service (USPS) Publication 28 standards](https://pe.usps.com/text/pub28/welcome.htm) for domestic, military, and US territory addresses.\n\nFor international addresses, validation relies on Universal Postal Union (UPU) standards. \n\n## Validation\nIf an address is found, it is considered valid based on metadata returned by the Address Validation service, such as the confidence score and the [Delivery Point Validation (DPV)](https://postalpro.usps.com/address-quality/dpv).\n\nIf an address is found, there are multiple checks performed on the validated address. The address can fail validation for a variety of reasons, such as the inability to deliver (for domestic mailing addresses) or the format. For specific reasons why an address failed, refer to the error messages returned.\n\nIf an address is not found, it automatically fails validation.\n\n## Address override indicator\nSometimes an entered address is accurate for a Veteran but does not pass validation rules. These instances can occur when an address is newer than what is in the CASS software or in regions where address data is less accurate.\n\nSystems can accept these addresses despite the lack of address validation by submitting an \"accepted address\" (usually confirmed by the Veteran) to the Contact Information API (see Requirements below). An address is considered accepted after the address has been sent to the validation API and has failed validation, but the Veteran has confirmed the address is correct as entered. The accepted address can then be passed to the Contact Information API using an address override indicator set to show that the validation was overridden. To set an override indicator, the original address and the `overrideValidationKey` returned in the validation API response must be provided to the Contact Information API, in order to prove that a validation attempt has been made before overriding.\n\n## Version Interoperability\n\nTo ensure interoperability between APIs and eliminate the need for transforming data as one API feeds into the other, we strongly recommend using versions of the following APIs that are compatible.\n\n|     <h3>If Using</h3>           | <h3>Then Use...</h3>                           |\n| :------------------------------:|:----------------------------------------------:|\n| Address Validation API v1/v2    | Contact Information API v1<br><br>Profile Service API v1/v2 |\n| Address Validation API v3       | Contact Information API v2<br><br>Profile Service API v3    |\n\n## Authorization\nAPI requests are authorized through a symmetric API token provided in an HTTP header with name apikey.\n\n**Important**: To get production access, you must either work for VA or have specific VA agreements in place. If you have questions, [contact us](https://developer.va.gov/support/contact-us)."
  license:
    name: Creative Commons
    url: https://developer.va.gov/terms-of-service
  version: '3'
servers:
- url: https://sandbox-api.va.gov/services/address-validation/{version}
  description: Sandbox
  variables:
    version:
      default: v3
- url: https://api.va.gov/services/address-validation/{version}
  description: Production
  variables:
    version:
      default: v3
security:
- apikey: []
tags:
- name: Appealable Issues
paths:
  /appealable-issues/{decisionReviewType}:
    get:
      summary: Returns all appealable issues of the selected appeal type for a claimant.
      tags:
      - Appealable Issues
      operationId: GET:/appealable-issues/{decisionReviewType}
      description: Returns all issues of the selected appeal type associated with a claimant that have been decided as of the `receiptDate`. Not all issues returned are guaranteed to be eligible for appeal.
      security:
      - productionOauth:
        - veteran/AppealableIssues.read
        - representative/AppealableIssues.read
        - system/AppealableIssues.read
      - sandboxOauth:
        - veteran/AppealableIssues.read
        - representative/AppealableIssues.read
        - system/AppealableIssues.read
      parameters:
      - name: decisionReviewType
        description: Appeal type for requested issues
        example: higher-level-reviews
        required: true
        schema:
          type: string
          enum:
          - higher-level-reviews
          - notice-of-disagreements
          - supplemental-claims
        in: path
      - name: benefitType
        description: Type of benefit. Required if decisionReviewType is higher-level-reviews or supplemental-claims. Ignored if decisionReviewType is notice-of-disagreements.
        example: compensation
        schema:
          type: string
          enum:
          - compensation
          - pension-survivors-benefits
          - fiduciary
          - life-insurance
          - veterans-health-administration
          - veteran-readiness-and-employment
          - loan-guaranty
          - education
          - national-cemetery-administration
        in: query
      - name: receiptDate
        description: (yyyy-mm-dd) Cutoff date for requested issues. The API returns issues that have been decided as of this date. This date must be after 2019-02-19, the Appeals Modernization Act (AMA) activation date.
        example: '2022-01-01'
        required: true
        schema:
          type: string
          format: date
        in: query
      - name: icn
        description: Claimant's Integration Control Number (ICN). Optional when using a veteran-scoped token. Required when using a representative- or system-scoped token.
        example: 1012832025V743496
        schema:
          type: string
          pattern: ^[0-9]{10}V[0-9]{6}$
        in: query
        required: false
      responses:
        '200':
          description: Claimant's appealable issues matching request parameters
          content:
            application/json:
              examples:
                with a veteran-scoped token (no 'icn' parameter necessary):
                  value:
                    data:
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9998'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5010'
                        ratingIssueSubjectText: Post-Operative Residuals, Left Knee Arthrotomy With Osteoarthritis
                        ratingIssuePercentNumber: '20'
                        description: Service connection for post-operative residuals, left knee arthrotomy with osteoarthritis is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9999'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5237'
                        ratingIssueSubjectText: Lumbosacral Strain
                        ratingIssuePercentNumber: '40'
                        description: Service connection for lumbosacral strain is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10001'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7913'
                        ratingIssueSubjectText: Diabetes Mellitus, Type II Associated With Herbicide Exposure
                        ratingIssuePercentNumber: '20'
                        description: Service connection for diabetes mellitus, type II associated with herbicide exposure is granted with a 20 percent evaluation effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10002'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6100'
                        ratingIssueSubjectText: Bilateral Hearing Loss
                        ratingIssuePercentNumber: '10'
                        description: Service connection for bilateral hearing loss is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10003'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6304'
                        ratingIssueSubjectText: Cocci Fever
                        ratingIssuePercentNumber: null
                        description: Service connection for cocci fever is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10004'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7005'
                        ratingIssueSubjectText: Coronary Artery Disease
                        ratingIssuePercentNumber: '60'
                        description: Service connection for coronary artery disease is granted with an evaluation of 60 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10005'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6260'
                        ratingIssueSubjectText: Tinnitus
                        ratingIssuePercentNumber: '10'
                        description: Service connection for tinnitus is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10006'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7805'
                        ratingIssueSubjectText: Abrasion Upper Right Leg
                        ratingIssuePercentNumber: null
                        description: Service connection for abrasion upper right leg is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: true
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10007'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7101'
                        ratingIssueSubjectText: Hypertension
                        ratingIssuePercentNumber: '10'
                        description: Service connection for hypertension is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10008'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Right Lower Extremity
                        ratingIssuePercentNumber: '40'
                        description: Service connection for peripheral neuropathy, right lower extremity is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10011'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Left Lower Extremity
                        ratingIssuePercentNumber: '20'
                        description: Service connection for peripheral neuropathy, left lower extremity is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10012'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5271'
                        ratingIssueSubjectText: Fracture Left Medial Malleolus
                        ratingIssuePercentNumber: null
                        description: Service connection for fracture left medial malleolus is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                with a representative-scoped token ('icn' parameter is necessary):
                  value:
                    data:
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9998'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5010'
                        ratingIssueSubjectText: Post-Operative Residuals, Left Knee Arthrotomy With Osteoarthritis
                        ratingIssuePercentNumber: '20'
                        description: Service connection for post-operative residuals, left knee arthrotomy with osteoarthritis is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9999'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5237'
                        ratingIssueSubjectText: Lumbosacral Strain
                        ratingIssuePercentNumber: '40'
                        description: Service connection for lumbosacral strain is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10001'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7913'
                        ratingIssueSubjectText: Diabetes Mellitus, Type II Associated With Herbicide Exposure
                        ratingIssuePercentNumber: '20'
                        description: Service connection for diabetes mellitus, type II associated with herbicide exposure is granted with a 20 percent evaluation effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10002'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6100'
                        ratingIssueSubjectText: Bilateral Hearing Loss
                        ratingIssuePercentNumber: '10'
                        description: Service connection for bilateral hearing loss is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10003'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6304'
                        ratingIssueSubjectText: Cocci Fever
                        ratingIssuePercentNumber: null
                        description: Service connection for cocci fever is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10004'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7005'
                        ratingIssueSubjectText: Coronary Artery Disease
                        ratingIssuePercentNumber: '60'
                        description: Service connection for coronary artery disease is granted with an evaluation of 60 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10005'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6260'
                        ratingIssueSubjectText: Tinnitus
                        ratingIssuePercentNumber: '10'
                        description: Service connection for tinnitus is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10006'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7805'
                        ratingIssueSubjectText: Abrasion Upper Right Leg
                        ratingIssuePercentNumber: null
                        description: Service connection for abrasion upper right leg is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: true
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10007'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7101'
                        ratingIssueSubjectText: Hypertension
                        ratingIssuePercentNumber: '10'
                        description: Service connection for hypertension is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10008'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Right Lower Extremity
                        ratingIssuePercentNumber: '40'
                        description: Service connection for peripheral neuropathy, right lower extremity is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10011'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Left Lower Extremity
                        ratingIssuePercentNumber: '20'
                        description: Service connection for peripheral neuropathy, left lower extremity is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10012'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5271'
                        ratingIssueSubjectText: Fracture Left Medial Malleolus
                        ratingIssuePercentNumber: null
                        description: Service connection for fracture left medial malleolus is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                with a system-scoped token ('icn' parameter is necessary):
                  value:
                    data:
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9998'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5010'
                        ratingIssueSubjectText: Post-Operative Residuals, Left Knee Arthrotomy With Osteoarthritis
                        ratingIssuePercentNumber: '20'
                        description: Service connection for post-operative residuals, left knee arthrotomy with osteoarthritis is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '9999'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5237'
                        ratingIssueSubjectText: Lumbosacral Strain
                        ratingIssuePercentNumber: '40'
                        description: Service connection for lumbosacral strain is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10001'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7913'
                        ratingIssueSubjectText: Diabetes Mellitus, Type II Associated With Herbicide Exposure
                        ratingIssuePercentNumber: '20'
                        description: Service connection for diabetes mellitus, type II associated with herbicide exposure is granted with a 20 percent evaluation effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10002'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6100'
                        ratingIssueSubjectText: Bilateral Hearing Loss
                        ratingIssuePercentNumber: '10'
                        description: Service connection for bilateral hearing loss is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10003'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6304'
                        ratingIssueSubjectText: Cocci Fever
                        ratingIssuePercentNumber: null
                        description: Service connection for cocci fever is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10004'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7005'
                        ratingIssueSubjectText: Coronary Artery Disease
                        ratingIssuePercentNumber: '60'
                        description: Service connection for coronary artery disease is granted with an evaluation of 60 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10005'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '6260'
                        ratingIssueSubjectText: Tinnitus
                        ratingIssuePercentNumber: '10'
                        description: Service connection for tinnitus is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10006'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7805'
                        ratingIssueSubjectText: Abrasion Upper Right Leg
                        ratingIssuePercentNumber: null
                        description: Service connection for abrasion upper right leg is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: true
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10007'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '7101'
                        ratingIssueSubjectText: Hypertension
                        ratingIssuePercentNumber: '10'
                        description: Service connection for hypertension is granted with an evaluation of 10 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10008'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Right Lower Extremity
                        ratingIssuePercentNumber: '40'
                        description: Service connection for peripheral neuropathy, right lower extremity is granted with an evaluation of 40 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2023-09-26'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2023-09-26'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10011'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '8520'
                        ratingIssueSubjectText: Peripheral Neuropathy, Left Lower Extremity
                        ratingIssuePercentNumber: '20'
                        description: Service connection for peripheral neuropathy, left lower extremity is granted with an evaluation of 20 percent effective October 4, 2001.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
                    - id: null
                      type: appealableIssue
                      attributes:
                        ratingIssueReferenceId: '10012'
                        ratingIssueProfileDate: '2023-09-26'
                        ratingIssueDiagnosticCode: '5271'
                        ratingIssueSubjectText: Fracture Left Medial Malleolus
                        ratingIssuePercentNumber: null
                        description: Service connection for fracture left medial malleolus is denied.
                        isRating: true
                        latestIssuesInChain:
                        - id: null
                          approxDecisionDate: '2006-10-31'
                        decisionIssueId: null
                        ratingDecisionReferenceId: null
                        approxDecisionDate: '2006-10-31'
                        rampClaimId: null
                        titleOfActiveReview: null
                        sourceReviewType: null
                        timely: false
                        activeReview: false
              schema:
                $ref: '#/components/schemas/appealableIssues'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
                  code: '401'
                  status: '401'
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                errors:
                - title: Forbidden
                  detail: 'Invalid ''icn'' parameter: claimants may access only their own records.'
                  code: '403'
                  status: '403'
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              example:
                errors:
                - title: Resource not found
                  detail: A matching claimant was not found in our systems.
                  code: '404'
                  status: '404'
              schema:
                $ref: '#/components/schemas/errorModel'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable Content
          content:
            application/json:
              examples:
                'decisionReviewType must be one of: higher-level-reviews, notice-of-disagreements, supplemental-claims':
                  value:
                    errors:
                    - title: Invalid option
                      detail: '''invalid'' is not an available option.'
                      code: '141'
                      source:
                        parameter: decisionReviewType
                      status: '422'
                      meta:
                        availableOptions:
                        - higher-level-reviews
                        - notice-of-disagreements
                        - supplemental-claims
                Invalid receiptDate parameter:
                  value:
                    errors:
                    - title: Validation error
                      detail: 'Invalid ''receiptDate'' parameter: cannot be before 2019-02-20.'
                      source:
                        parameter: receiptDate
                      status: '422'
                Invalid icn parameter:
                  value:
                    errors:
                    - title: Invalid pattern
                      detail: '''1234567890'' did not match the defined pattern.'
                      code: '143'
                      source:
                        parameter: icn
                      status: '422'
                      meta:
                        regex: ^[0-9]{10}V[0-9]{6}$
                Missing icn parameter with a representative-scoped token:
                  value:
                    errors:
                    - title: Missing required fields
                      detail: One or more expected fields were not found.
                      code: '145'
                      source:
                        parameter: ''
                      status: '422'
                      meta:
                        missingFields:
                        - icn
                Missing icn parameter with a system-scoped token:
                  value:
                    errors:
                    - title: Missing required fields
                      detail: One or more expected fields were not found.
                      code: '145'
                      source:
                        parameter: ''
                      status: '422'
                      meta:
                        missingFields:
                        - icn
              schema:
                $ref: '#/components/schemas/errorModel'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
        '503':
          description: Service Unavailable
          content:
            application/json:
              example:
                errors:
                - title: Service Unavailable
                  detail: Received an unusable response from upstream service.
                  code: '503'
                  status: '503'
              schema:
                $ref: '#/components/schemas/errorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
components:
  schemas:
    appealableIssues:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/appealableIssue'
    errorModel:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            additionalProperties: false
            required:
            - title
            properties:
              title:
                type: string
                description: HTTP error title
              detail:
                type: string
                description: HTTP error detail
              code:
                type: string
                description: HTTP error code
              source:
                type: object
                additionalProperties: false
                description: Source of error
                properties:
                  pointer:
                    type: string
                    description: Pointer to source of error
                  parameter:
                    type: string
                    description: Invalid request parameter
                  header:
                    type: string
                    description: Invalid header
              status:
                type: string
                description: HTTP error code
              meta:
                type: object
                description: Meta information
                properties:
                  missingFields:
                    type: array
                    items:
                      type: string
                    description: List of missing fields
    appealableIssue:
      type: object
      description: An appealable issue. To appeal this issue, include it when creating a Higher-Level Review, Notice of Disagreement, or Supplemental Claim.
      properties:
        id:
          type: string
          nullable: true
          description: Issue ID
        type:
          type: string
          enum:
          - appealableIssue
          description: Issue type
        attributes:
          type: object
          description: Issue attributes
          properties:
            ratingIssueReferenceId:
              type: string
              nullable: true
              description: RatingIssue ID
              example: '2385'
            ratingIssueProfileDate:
              type: string
              nullable: true
              format: date
              description: (yyyy-mm-dd) RatingIssue profile date
              example: '2006-05-31'
            ratingIssueDiagnosticCode:
              type: string
              nullable: true
              description: RatingIssue diagnostic code
              example: '5005'
            ratingIssueSubjectText:
              type: string
              nullable: true
              description: Short description of RatingIssue
              example: Hypertension
            ratingIssuePercentNumber:
              type: string
              nullable: true
              description: Numerical rating for RatingIssue
              example: '10'
            description:
              type: string
              nullable: true
              description: Description
              example: Service connection for hypertension is granted with an evaluation of 10 percent effective July 24, 2005.
            isRating:
              type: boolean
              description: Whether or not this is a RatingIssue
              example: true
            latestIssuesInChain:
              type: array
              description: The chain of decision and rating issues that preceded this issue. Only the most recent issue can be appealed. The most recent issue is the object itself that contains the latestIssuesInChain attribute.
              items:
                type: object
                properties:
                  id:
                    oneOf:
                    - type: string
                      nullable: true
                    - type: integer
                    example: null
                  approxDecisionDate:
                    type: string
                    nullable: true
                    format: date
                    example: '2006-11-27'
            decisionIssueId:
              type: integer
              nullable: true
              description: DecisionIssue ID
              example: null
            ratingDecisionReferenceId:
              type: string
              nullable: true
              description: The BGS ID for the appealable rating decision. This may be populated while ratingIssueReferenceId is null.
              example: null
            approxDecisionDate:
              type: string
              nullable: true
              format: date
              description: (yyyy-mm-dd) Approximate decision date
              example: '2006-11-27'
            rampClaimId:
              type: string
              nullable: true
              description: RampClaim ID
              example: null
            titleOfActiveReview:
              type: string
              nullable: true
              description: Title of Decision Review that this issue is still active on
              example: null
            sourceReviewType:
              type: string
              nullable: true
              description: The type of Decision Review (Higher-Level Review, Notice of Disagreement, or Supplemental Claim) the issue was last decided on (if any)
              example: null
            timely:
              type: boolean
              description: Timeliness of this issue. An issue is timely if the receipt date is within one year of the decision date.
              example: false
            activeReview:
              type: boolean
              description: Indicates whether this issue is already part of an active Decision Review that is being processed by VA. Submitting a Decision Review that includes a listed issue with an activeReview of true may result in VA rejecting the submission.
              example: false
  securitySchemes:
    apikey:
      type: apiKey
      name: apikey
      in: header
