openapi: 3.0.1
info:
  title: Address Validation 5103 Waiver Disability Compensation Claims API
  description: "The Address Validation API accepts and validates an address and standardizes it for mailing. It can also help you process an address by:\n* Inferring missing or incorrect address components\n* Supplementing an address with additional information, such as geocode, latitude and longitude, and postal service metadata (when available)\n## Technical Overview\nThe Address Validation API returns validated addresses as they appear in the USPS database for domestic addresses. It validates by separating the address into individual components and then providing component-level validation checks.\n\nThis API is certified by the United States Postal Service (USPS) Coding Accuracy Support System (CASS) and adheres to [United States Postal Service (USPS) Publication 28 standards](https://pe.usps.com/text/pub28/welcome.htm) for domestic, military, and US territory addresses.\n\nFor international addresses, validation relies on Universal Postal Union (UPU) standards. \n\n## Validation\nIf an address is found, it is considered valid based on metadata returned by the Address Validation service, such as the confidence score and the [Delivery Point Validation (DPV)](https://postalpro.usps.com/address-quality/dpv).\n\nIf an address is found, there are multiple checks performed on the validated address. The address can fail validation for a variety of reasons, such as the inability to deliver (for domestic mailing addresses) or the format. For specific reasons why an address failed, refer to the error messages returned.\n\nIf an address is not found, it automatically fails validation.\n\n## Address override indicator\nSometimes an entered address is accurate for a Veteran but does not pass validation rules. These instances can occur when an address is newer than what is in the CASS software or in regions where address data is less accurate.\n\nSystems can accept these addresses despite the lack of address validation by submitting an \"accepted address\" (usually confirmed by the Veteran) to the Contact Information API (see Requirements below). An address is considered accepted after the address has been sent to the validation API and has failed validation, but the Veteran has confirmed the address is correct as entered. The accepted address can then be passed to the Contact Information API using an address override indicator set to show that the validation was overridden. To set an override indicator, the original address and the `overrideValidationKey` returned in the validation API response must be provided to the Contact Information API, in order to prove that a validation attempt has been made before overriding.\n\n## Version Interoperability\n\nTo ensure interoperability between APIs and eliminate the need for transforming data as one API feeds into the other, we strongly recommend using versions of the following APIs that are compatible.\n\n|     <h3>If Using</h3>           | <h3>Then Use...</h3>                           |\n| :------------------------------:|:----------------------------------------------:|\n| Address Validation API v1/v2    | Contact Information API v1<br><br>Profile Service API v1/v2 |\n| Address Validation API v3       | Contact Information API v2<br><br>Profile Service API v3    |\n\n## Authorization\nAPI requests are authorized through a symmetric API token provided in an HTTP header with name apikey.\n\n**Important**: To get production access, you must either work for VA or have specific VA agreements in place. If you have questions, [contact us](https://developer.va.gov/support/contact-us)."
  license:
    name: Creative Commons
    url: https://developer.va.gov/terms-of-service
  version: '3'
servers:
- url: https://sandbox-api.va.gov/services/address-validation/{version}
  description: Sandbox
  variables:
    version:
      default: v3
- url: https://api.va.gov/services/address-validation/{version}
  description: Production
  variables:
    version:
      default: v3
security:
- apikey: []
tags:
- name: Disability Compensation Claims
  description: 'Allows authenticated and authorized users to automatically establish a Disability Compensation Claim (21-526EZ) in VBMS

    '
paths:
  /veterans/{veteranId}/526/synchronous:
    post:
      summary: Submits disability compensation claim synchronously (restricted access)
      tags:
      - Disability Compensation Claims
      operationId: POST:/veterans/{veteranId}/526/synchronous
      security:
      - productionOauth:
        - system/526.override
      - sandboxOauth:
        - system/526.override
      description: "Automatically establishes a disability compensation claim (21-526EZ) in Veterans Benefits Management System (VBMS). This endpoint synchronously generates a filled and electronically signed 526EZ form and establishes the disability claim in VBMS. The 526EZ form is uploaded asynchronously.\n\nA 202 response indicates the API submission was accepted and the claim was established in VBMS. Check claim status using the GET veterans/{veteranId}/claims/{id} endpoint. The claim status details response will return the associated 526EZ PDF in the supportingDocuments list.\n\n**A substantially complete 526EZ claim must include:**\n* Veteran's name\n* Sufficient service information for VA to verify the claimed service\n* At least one claimed disability or medical condition and how it relates to service\n* Veteran and/or Representative signature\n\n**Standard and fully developed claims (FDCs)**\n\n[Fully developed claims (FDCs)](https://www.va.gov/disability/how-to-file-claim/evidence-needed/fully-developed-claims/)\nare claims certified by the submitter to include all information needed for processing. These claims process faster \nthan claims submitted through the standard claim process. If a claim is certified for the FDC, but is missing needed information, \nit will be processed as a standard claim.\n\nTo certify a claim for the FDC process, set the claimProcessType to FDC_PROGRAM.\n"
      parameters:
      - name: veteranId
        in: path
        required: true
        example: 1012667145V762142
        description: ID of claimant
        schema:
          type: string
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              examples:
                202 without a transactionId:
                  value:
                    data:
                      id: 00000000-0000-0000-0000-000000000001
                      type: forms/526
                      attributes:
                        claimId: '600442191'
                        claimProcessType: STANDARD_CLAIM_PROCESS
                        claimNotes: Some things that are important to know, and are not included in any other place.
                        veteranIdentification:
                          serviceNumber: '123456789'
                          veteranNumber:
                            telephone: '5555555555'
                            internationalTelephone: +44 20 1234 5678
                          mailingAddress:
                            addressLine1: 1234 Couch Street
                            addressLine2: Unit 4
                            addressLine3: Room 1
                            city: Schenectady
                            state: NY
                            country: USA
                            zipFirstFive: '12345'
                            zipLastFour: '1234'
                          emailAddress:
                            email: valid@somedomain.com
                            agreeToEmailRelatedToClaim: true
                          currentVaEmployee: false
                        changeOfAddress:
                          typeOfAddressChange: TEMPORARY
                          addressLine1: 10 Peach St
                          addressLine2: Unit 4
                          addressLine3: Room 1
                          city: Schenectady
                          state: NY
                          country: USA
                          zipFirstFive: '12345'
                          zipLastFour: '9897'
                          dates:
                            beginDate: '2025-12-31'
                            endDate: '2025-12-31'
                        homeless:
                          isCurrentlyHomeless: true
                          currentlyHomeless:
                            homelessSituationOptions: FLEEING_CURRENT_RESIDENCE
                            otherDescription: ABCDEFGHIJKLM
                          isAtRiskOfBecomingHomeless: false
                          pointOfContact: john stewart
                          pointOfContactNumber:
                            telephone: '5555555555'
                            internationalTelephone: +44 20 1234 5678
                        toxicExposure:
                          gulfWarHazardService:
                            servedInGulfWarHazardLocations: 'YES'
                            serviceDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          herbicideHazardService:
                            servedInHerbicideHazardLocations: 'YES'
                            otherLocationsServed: ABCDEFGHIJKLM
                            serviceDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          additionalHazardExposures:
                            additionalExposures:
                            - ASBESTOS
                            - SHIPBOARD_HAZARD_AND_DEFENSE
                            specifyOtherExposures: Other exposure details
                            exposureDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          multipleExposures:
                          - hazardExposedTo: RADIATION
                            exposureLocation: Guam
                            exposureDates:
                              beginDate: 2012-12
                              endDate: 2013-07
                        disabilities:
                        - name: Traumatic Brain Injury
                          exposureOrEventOrInjury: EXPOSURE
                          serviceRelevance: ABCDEFG
                          approximateDate: '2018-03-11'
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 9020
                          isRelatedToToxicExposure: true
                          secondaryDisabilities:
                          - name: Post Traumatic Stress Disorder (PTSD) Combat - Mental Disorders
                            exposureOrEventOrInjury: EXPOSURE
                            serviceRelevance: ABCDEFGHIJKLMNOPQ
                            disabilityActionType: SECONDARY
                            approximateDate: '2018-03-12'
                            classificationCode: '9014'
                        - name: Cancer - Musculoskeletal - Elbow
                          exposureOrEventOrInjury: EXPOSURE
                          approximateDate: '2018-03-02'
                          serviceRelevance: ABCDEFG
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 249470
                          isRelatedToToxicExposure: true
                        - name: Cancer - Musculoskeletal - Knee
                          exposureOrEventOrInjury: EXPOSURE
                          approximateDate: '2015'
                          serviceRelevance: ABCDEFG
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 249470
                          isRelatedToToxicExposure: true
                        treatments:
                        - beginDate: 2009-03
                          treatedDisabilityNames:
                          - Traumatic Brain Injury
                          - Post Traumatic Stress Disorder (PTSD) Combat - Mental Disorders
                          - Cancer - Musculoskeletal - Elbow
                          center:
                            name: Center One
                            city: Decatur
                            state: GA
                        serviceInformation:
                          alternateNames:
                          - john jacob
                          - johnny smith
                          servicePeriods:
                          - serviceBranch: Public Health Service
                            serviceComponent: Active
                            activeDutyBeginDate: '2008-11-14'
                            activeDutyEndDate: '2023-10-30'
                            separationLocationCode: '98282'
                          servedInActiveCombatSince911: 'NO'
                          reservesNationalGuardService:
                            component: National Guard
                            obligationTermsOfService:
                              beginDate: '2019-06-04'
                              endDate: '2020-06-04'
                            unitName: National Guard Unit Name
                            unitAddress: 1243 pine court
                            unitPhone:
                              areaCode: '555'
                              phoneNumber: '5555555'
                            receivingInactiveDutyTrainingPay: 'YES'
                          federalActivation:
                            activationDate: '2023-10-01'
                            anticipatedSeparationDate: '2025-12-31'
                          confinements:
                          - approximateBeginDate: '2018-06-04'
                            approximateEndDate: '2018-07-04'
                          - approximateBeginDate: 2020-06
                            approximateEndDate: 2020-07
                        servicePay:
                          receivingMilitaryRetiredPay: 'NO'
                          futureMilitaryRetiredPay: 'YES'
                          futureMilitaryRetiredPayExplanation: ABCDEFGHIJKLMNOPQRSTUVW
                          militaryRetiredPay:
                            branchOfService: Army
                            monthlyAmount: 840
                          retiredStatus: PERMANENT_DISABILITY_RETIRED_LIST
                          favorMilitaryRetiredPay: false
                          receivedSeparationOrSeverancePay: 'NO'
                          separationSeverancePay:
                            datePaymentReceived: '2022-03-12'
                            branchOfService: Naval Academy
                            preTaxAmountReceived: 379
                          favorTrainingPay: true
                        directDeposit:
                          noAccount: false
                          accountNumber: ABCDEF
                          accountType: CHECKING
                          financialInstitutionName: Chase
                          routingNumber: '123123123'
                        claimantCertification: true
                202 with a transactionId:
                  value:
                    data:
                      id: 00000000-0000-0000-0000-000000000002
                      type: forms/526
                      attributes:
                        claimId: '600442191'
                        claimProcessType: STANDARD_CLAIM_PROCESS
                        claimNotes: Some things that are important to know, and are not included in any other place.
                        veteranIdentification:
                          serviceNumber: '123456789'
                          veteranNumber:
                            telephone: '5555555555'
                            internationalTelephone: +44 20 1234 5678
                          mailingAddress:
                            addressLine1: 1234 Couch Street
                            addressLine2: Unit 4
                            addressLine3: Room 1
                            city: Schenectady
                            state: NY
                            country: USA
                            zipFirstFive: '12345'
                            zipLastFour: '1234'
                          emailAddress:
                            email: valid@somedomain.com
                            agreeToEmailRelatedToClaim: true
                          currentVaEmployee: false
                        changeOfAddress:
                          typeOfAddressChange: TEMPORARY
                          addressLine1: 10 Peach St
                          addressLine2: Unit 4
                          addressLine3: Room 1
                          city: Schenectady
                          state: NY
                          country: USA
                          zipFirstFive: '12345'
                          zipLastFour: '9897'
                          dates:
                            beginDate: '2025-12-31'
                            endDate: '2025-12-31'
                        homeless:
                          isCurrentlyHomeless: true
                          currentlyHomeless:
                            homelessSituationOptions: FLEEING_CURRENT_RESIDENCE
                            otherDescription: ABCDEFGHIJKLM
                          isAtRiskOfBecomingHomeless: false
                          pointOfContact: john stewart
                          pointOfContactNumber:
                            telephone: '5555555555'
                            internationalTelephone: +44 20 1234 5678
                        toxicExposure:
                          gulfWarHazardService:
                            servedInGulfWarHazardLocations: 'YES'
                            serviceDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          herbicideHazardService:
                            servedInHerbicideHazardLocations: 'YES'
                            otherLocationsServed: ABCDEFGHIJKLM
                            serviceDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          additionalHazardExposures:
                            additionalExposures:
                            - ASBESTOS
                            - SHIPBOARD_HAZARD_AND_DEFENSE
                            specifyOtherExposures: Other exposure details
                            exposureDates:
                              beginDate: 2018-07
                              endDate: 2018-08
                          multipleExposures:
                          - hazardExposedTo: RADIATION
                            exposureLocation: Guam
                            exposureDates:
                              beginDate: 2012-12
                              endDate: 2013-07
                        disabilities:
                        - name: Traumatic Brain Injury
                          exposureOrEventOrInjury: EXPOSURE
                          serviceRelevance: ABCDEFG
                          approximateDate: '2018-03-11'
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 9020
                          isRelatedToToxicExposure: true
                          secondaryDisabilities:
                          - name: Post Traumatic Stress Disorder (PTSD) Combat - Mental Disorders
                            exposureOrEventOrInjury: EXPOSURE
                            serviceRelevance: ABCDEFGHIJKLMNOPQ
                            disabilityActionType: SECONDARY
                            approximateDate: '2018-03-12'
                            classificationCode: '9014'
                        - name: Cancer - Musculoskeletal - Elbow
                          exposureOrEventOrInjury: EXPOSURE
                          approximateDate: '2018-03-02'
                          serviceRelevance: ABCDEFG
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 249470
                          isRelatedToToxicExposure: true
                        - name: Cancer - Musculoskeletal - Knee
                          exposureOrEventOrInjury: EXPOSURE
                          approximateDate: '2015'
                          serviceRelevance: ABCDEFG
                          disabilityActionType: NEW
                          classificationCode: '9014'
                          ratedDisabilityId: ABCDEFGHIJKLMNOPQRSTUVWX
                          diagnosticCode: 249470
                          isRelatedToToxicExposure: true
                        treatments:
                        - beginDate: 2009-03
                          treatedDisabilityNames:
                          - Traumatic Brain Injury
                          - Post Traumatic Stress Disorder (PTSD) Combat - Mental Disorders
                          - Cancer - Musculoskeletal - Elbow
                          center:
                            name: Center One
                            city: Decatur
                            state: GA
                        serviceInformation:
                          alternateNames:
                          - john jacob
                          - johnny smith
                          servicePeriods:
                          - serviceBranch: Public Health Service
                            serviceComponent: Active
                            activeDutyBeginDate: '2008-11-14'
                            activeDutyEndDate: '2025-12-31'
                            separationLocationCode: '98282'
                          servedInActiveCombatSince911: 'NO'
                          reservesNationalGuardService:
                            component: National Guard
                            obligationTermsOfService:
                              beginDate: '2019-06-04'
                              endDate: '2020-06-04'
                            unitName: National Guard Unit Name
                            unitAddress: 1243 pine court
                            unitPhone:
                              areaCode: '555'
                              phoneNumber: '5555555'
                            receivingInactiveDutyTrainingPay: 'YES'
                          federalActivation:
                            activationDate: '2023-10-01'
                            anticipatedSeparationDate: '2025-12-31'
                          confinements:
                          - approximateBeginDate: '2018-06-04'
                            approximateEndDate: '2018-07-04'
                          - approximateBeginDate: 2020-06
                            approximateEndDate: 2020-07
                        servicePay:
                          receivingMilitaryRetiredPay: 'NO'
                          futureMilitaryRetiredPay: 'YES'
                          futureMilitaryRetiredPayExplanation: ABCDEFGHIJKLMNOPQRSTUVW
                          militaryRetiredPay:
                            branchOfService: Army
                            monthlyAmount: 840
                          retiredStatus: PERMANENT_DISABILITY_RETIRED_LIST
                          favorMilitaryRetiredPay: false
                          receivedSeparationOrSeverancePay: 'NO'
                          separationSeverancePay:
                            datePaymentReceived: '2022-03-12'
                            branchOfService: Naval Academy
                            preTaxAmountReceived: 379
                          favorTrainingPay: true
                        directDeposit:
                          noAccount: false
                          accountNumber: ABCDEF
                          accountType: CHECKING
                          financialInstitutionName: Chase
                          routingNumber: '123123123'
                        claimantCertification: true
                    meta:
                      transactionId: 00000000-0000-0000-0000-000000000003
              schema:
                name: data
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        example: 00000000-0000-0000-0000-000000000004
                      type:
                        type: string
                        example: form/8675309
                      attributes:
                        description: Claims API 526 Schema
                        type: object
                        additionalProperties: false
                        required:
                        - claimProcessType
                        - disabilities
                        - serviceInformation
                        - veteranIdentification
                        properties:
                          claimProcessType:
                            type: string
                            description: Select type of claim program/process that applies to the Veteran.
                            enum:
                            - STANDARD_CLAIM_PROCESS
                            - FDC_PROGRAM
                            - BDD_PROGRAM
                          veteranIdentification:
                            type: object
                            additionalProperties: false
                            required:
                            - mailingAddress
                            - currentVaEmployee
                            properties:
                              serviceNumber:
                                type: string
                                description: Service identification number
                                maxLength: 1000
                                nullable: true
                              veteranNumber:
                                description: If there isn't a ten digit phone number in VBMS for the Veteran, the exams will not be ordered. Including the phone number is recommended to avoid claim processing delays.
                                type: object
                                nullable: true
                                properties:
                                  telephone:
                                    description: Veteran's phone number.
                                    type: string
                                    pattern: ^\d{10}?$
                                    example: '5555555555'
                                    nullable: true
                                  internationalTelephone:
                                    type: string
                                    description: Veteran's international phone number.
                                    example: +44 20 1234 5678
                                    maxLength: 1000
                                    nullable: true
                              mailingAddress:
                                type: object
                                additionalProperties: false
                                required:
                                - addressLine1
                                - city
                                - country
                                properties:
                                  addressLine1:
                                    description: Address line 1 for the Veteran's current mailing address.
                                    type: string
                                    pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                    maxLength: 20
                                    example: 1234 Couch Street
                                  addressLine2:
                                    description: Address line 2 for the Veteran's current mailing address.
                                    type: string
                                    pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                    maxLength: 20
                                    example: Unit 4
                                    nullable: true
                                  addressLine3:
                                    description: Address line 3 for the Veteran's current mailing address.
                                    type: string
                                    pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                    maxLength: 20
                                    example: Room 1
                                    nullable: true
                                  city:
                                    description: City for the Veteran's current mailing address.
                                    type: string
                                    pattern: ^$|([a-zA-Z0-9\'-'.# ]([a-zA-Z0-9\'-'.# ])?)+$
                                    minLength: 1
                                    maxLength: 20
                                    example: Schenectady
                                  state:
                                    description: State for the Veteran's current mailing address. Required if 'country' is 'USA'.
                                    type: string
                                    pattern: ^[a-z,A-Z]{2}$
                                    example: NY
                                    nullable: true
                                  country:
                                    description: Country for the Veteran's current mailing address.  Must match the values returned by the /countries endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                    type: string
                                    maxLength: 1000
                                    example: USA
                                  zipFirstFive:
                                    description: Zip code (First 5 digits) for the Veteran's current mailing address. Required if 'country' is 'USA'.
                                    type: string
                                    pattern: ^\d{5}?$
                                    example: '12345'
                                    nullable: true
                                  zipLastFour:
                                    description: Zip code (Last 4 digits) for the Veteran's current mailing address.
                                    type: string
                                    pattern: ^\d{4}?$
                                    example: '6789'
                                    nullable: true
                                  internationalPostalCode:
                                    description: International postal code for the Veteran's current mailing address. Do not include if 'country' is 'USA'.
                                    type: string
                                    maxLength: 16
                                    nullable: true
                                    pattern: ^[a-zA-Z0-9]*$
                              emailAddress:
                                description: Information associated with the Veteran's email address.
                                type: object
                                nullable: true
                                properties:
                                  email:
                                    type: string
                                    pattern: ^[^\s@]+@([^\s@.,]+\.)+[^\s@.,]{2,}$
                                    description: The most current email address of the Veteran.
                                    maxLength: 80
                                    nullable: true
                                  agreeToEmailRelatedToClaim:
                                    type: boolean
                                    description: Agreement to email information relating to this claim.
                                    example: true
                                    default: false
                                    nullable: true
                              currentVaEmployee:
                                type: boolean
                                description: Set to true if Veteran is a VA employee.
                                nullable: false
                          changeOfAddress:
                            description: 'If ''changeOfAddress'' is included, the following attributes are required: ''typeOfAddressChange'', ''addressLine1'', ''city'', ''country''.'
                            type: object
                            nullable: true
                            additionalProperties: false
                            properties:
                              typeOfAddressChange:
                                description: Temporary or Permanent change of address. If 'TEMPORARY', 'beginDate' and 'endDate' are required.
                                type: string
                                enum:
                                - TEMPORARY
                                - PERMANENT
                                example: PERMANENT
                              addressLine1:
                                description: Address line 1 for the Veteran's new address.
                                type: string
                                pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                maxLength: 20
                                example: 1234 Couch Street
                              addressLine2:
                                description: Address line 2 for the Veteran's new address.
                                type: string
                                pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                maxLength: 20
                                example: Unit 4
                                nullable: true
                              addressLine3:
                                description: Address line 3 for the Veteran's new address.
                                type: string
                                pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                maxLength: 20
                                example: Room 1
                                nullable: true
                              city:
                                description: City for the Veteran's new address.
                                type: string
                                pattern: ^$|([a-zA-Z0-9\'-'.# ]([a-zA-Z0-9\'-'.# ])?)+$
                                minLength: 0
                                maxLength: 20
                                example: Schenectady
                              state:
                                description: State for the Veteran's new address. Required if 'country' is 'USA'.
                                type: string
                                pattern: ^$|^[a-z,A-Z]{2}$
                                example: NY
                                nullable: true
                              country:
                                description: Country for the Veteran's new address. Value must match the values returned by the /countries endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                type: string
                                maxLength: 1000
                                example: USA
                              zipFirstFive:
                                description: Zip code (First 5 digits) for the Veteran's new address. Required if 'country' is 'USA'.
                                type: string
                                pattern: ^$|^\d{5}?$
                                example: '12345'
                                nullable: true
                              zipLastFour:
                                description: Zip code (Last 4 digits) for the Veteran's new address.
                                type: string
                                nullable: true
                                pattern: ^$|^\d{4}?$
                                example: '6789'
                              internationalPostalCode:
                                description: International postal code for the Veteran's new address. Do not include if 'country' is 'USA'.
                                type: string
                                maxLength: 16
                                nullable: true
                                pattern: ^[a-zA-Z0-9]*$
                              dates:
                                type: object
                                properties:
                                  beginDate:
                                    description: Begin date for the Veteran's new address.
                                    pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                    type: string
                                    nullable: true
                                    example: '2018-06-04'
                                  endDate:
                                    description: Date in YYYY-MM-DD the changed address expires, if change is temporary.
                                    type: string
                                    nullable: true
                                    pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                    example: '2018-06-04'
                          homeless:
                            type: object
                            nullable: true
                            additionalProperties: false
                            properties:
                              isCurrentlyHomeless:
                                type: boolean
                                nullable: true
                                description: Is the Veteran currently homeless?
                              currentlyHomeless:
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  homelessSituationOptions:
                                    description: Veteran's living situation.
                                    type: string
                                    nullable: true
                                    default: other
                                    enum:
                                    - LIVING_IN_A_HOMELESS_SHELTER
                                    - NOT_CURRENTLY_IN_A_SHELTERED_ENVIRONMENT
                                    - STAYING_WITH_ANOTHER_PERSON
                                    - FLEEING_CURRENT_RESIDENCE
                                    - OTHER
                                    example: FLEEING_CURRENT_RESIDENCE
                                  otherDescription:
                                    description: Explanation of living situation. Required if 'homelessSituationOptions' is 'OTHER'.
                                    type: string
                                    nullable: true
                                    maxLength: 500
                                    example: other living situation
                              isAtRiskOfBecomingHomeless:
                                type: boolean
                                nullable: true
                                description: Is the Veteran currently at risk of becoming homeless?
                              riskOfBecomingHomeless:
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  livingSituationOptions:
                                    type: string
                                    nullable: true
                                    default: HOUSING_WILL_BE_LOST_IN_30_DAYS
                                    enum:
                                    - HOUSING_WILL_BE_LOST_IN_30_DAYS
                                    - LEAVING_PUBLICLY_FUNDED_SYSTEM_OF_CARE
                                    - OTHER
                                  otherDescription:
                                    description: Explanation of living situation. Required if 'livingSituationOptions' is 'OTHER'.
                                    type: string
                                    nullable: true
                                    maxLength: 500
                                    example: other living situation
                              pointOfContact:
                                description: Individual in direct contact with Veteran.
                                type: string
                                nullable: true
                                minLength: 1
                                maxLength: 100
                                pattern: ^([-a-zA-Z0-9/']+( ?))*$
                                example: Jane Doe
                              pointOfContactNumber:
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  telephone:
                                    description: Ten digit primary phone of point of contact.
                                    type: string
                                    pattern: ^\d{10}?$
                                    example: '5555555'
                                    nullable: true
                                  internationalTelephone:
                                    description: International phone of point of contact.
                                    type: string
                                    example: +44 20 1234 5678
                                    maxLength: 1000
                                    nullable: true
                          toxicExposure:
                            type: object
                            nullable: true
                            properties:
                              gulfWarHazardService:
                                type: object
                                nullable: true
                                description: Toxic exposure related to the Gulf war.
                                properties:
                                  servedInGulfWarHazardLocations:
                                    type: string
                                    description: 'Set to true if the Veteran served in any of the following Gulf War hazard locations: Iraq; Kuwait; Saudi Arabia; the neutral zone between Iraq and Saudi Arabia; Bahrain; Qatar; the United Arab Emirates; Oman; Yemen; Lebanon; Somalia; Afghanistan; Israel; Egypt; Turkey; Syria; Jordan; Djibouti; Uzbekistan; the Gulf of Aden; the Gulf of Oman; the Persian Gulf; the Arabian Sea; and the Red Sea.'
                                    example: 'YES'
                                    enum:
                                    - 'NO'
                                    - 'YES'
                                    nullable: true
                                  serviceDates:
                                    type: object
                                    nullable: true
                                    description: Date range for when the exposure happened.
                                    properties:
                                      beginDate:
                                        type: string
                                        nullable: true
                                        description: Approximate begin date for serving in Gulf War hazard location.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                                      endDate:
                                        type: string
                                        nullable: true
                                        description: Approximate end date for serving in Gulf War hazard location.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                              herbicideHazardService:
                                description: Toxic exposure related to herbicide (Agent Orange) hazards.
                                type: object
                                nullable: true
                                properties:
                                  servedInHerbicideHazardLocations:
                                    type: string
                                    description: 'Set to true if the Veteran served in any of the following herbicide/Agent Orange locations: Republic of Vietnam to include the 12 nautical mile territorial waters; Thailand at any United States or Royal Thai base; Laos; Cambodia at Mimot or Krek; Kampong Cham Province; Guam or American Samoa; or in the territorial waters thereof; Johnston Atoll or a ship that called at Johnston Atoll; Korean demilitarized zone; aboard (to include repeated operations and maintenance with) a C-123 aircraft known to have been used to spray an herbicide agent (during service in the Air Force and Air Force Reserves).'
                                    example: 'YES'
                                    enum:
                                    - 'NO'
                                    - 'YES'
                                    nullable: true
                                  otherLocationsServed:
                                    type: string
                                    nullable: true
                                    pattern: ^$|([a-zA-Z0-9"\/&\(\)\-'.,#\[\] ]([a-zA-Z0-9(\)\-'.,#\[\] ])?)+$
                                    maxLength: 5000
                                    description: Other location(s) where Veteran served.
                                  serviceDates:
                                    description: Date range for exposure in herbicide hazard location.
                                    type: object
                                    nullable: true
                                    properties:
                                      beginDate:
                                        type: string
                                        nullable: true
                                        description: Approximate begin date for serving in herbicide location.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                                      endDate:
                                        type: string
                                        nullable: true
                                        description: Approximate end date for serving in herbicide location.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                              additionalHazardExposures:
                                type: object
                                nullable: true
                                description: Additional hazardous exposures.
                                properties:
                                  additionalExposures:
                                    description: Additional exposure incidents.
                                    type: array
                                    nullable: true
                                    uniqueItems: true
                                    items:
                                      type: string
                                      additionalProperties: false
                                      enum:
                                      - ASBESTOS
                                      - MUSTARD_GAS
                                      - RADIATION
                                      - SHIPBOARD_HAZARD_AND_DEFENSE
                                      - MILITARY_OCCUPATIONAL_SPECIALTY_RELATED_TOXIN
                                      - CONTAMINATED_WATER_AT_CAMP_LEJEUNE
                                      - OTHER
                                  specifyOtherExposures:
                                    type: string
                                    nullable: true
                                    pattern: ^$|([a-zA-Z0-9"\/&\(\)\-'.,#\[\] ]([a-zA-Z0-9(\)\-'.,#\[\] ])?)+$
                                    maxLength: 5000
                                    description: Exposure to asbestos.
                                  exposureDates:
                                    type: object
                                    nullable: true
                                    description: Date range for when the exposure happened.
                                    properties:
                                      beginDate:
                                        type: string
                                        nullable: true
                                        description: Approximate begin date for exposure.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                                      endDate:
                                        type: string
                                        nullable: true
                                        description: Approximate end date for exposure.
                                        pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                        example: 2018-06 or 2018
                              multipleExposures:
                                type: array
                                nullable: true
                                minItems: 1
                                uniqueItems: true
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    hazardExposedTo:
                                      type: string
                                      nullable: true
                                      pattern: ^([-a-zA-Z0-9'.,&# ])+$
                                      maxLength: 1000
                                      description: Hazard the Veteran was exposed to.
                                    exposureLocation:
                                      type: string
                                      nullable: true
                                      pattern: ^$|([a-zA-Z0-9"\/&\(\)\-'.,#\[\] ]([a-zA-Z0-9(\)\-'.,#\[\] ])?)+$
                                      maxLength: 1000
                                      description: Location where the exposure happened.
                                    exposureDates:
                                      type: object
                                      nullable: true
                                      description: Date range for when the exposure happened.
                                      properties:
                                        beginDate:
                                          type: string
                                          nullable: true
                                          description: Approximate begin date for exposure.
                                          pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                          example: 2018-06 or 2018
                                        endDate:
                                          type: string
                                          nullable: true
                                          description: Approximate end date for exposure.
                                          pattern: ^(?:19|20)[0-9][0-9]$|^(?:19|20)[0-9][0-9]-(0[1-9]|1[0-2])$
                                          example: 2018-06 or 2018
                          disabilities:
                            description: Any current disabilities or symptoms the Veteran is claiming are related to their military service and/or are service-connected.
                            type: array
                            minItems: 1
                            items:
                              type: object
                              additionalProperties: false
                              required:
                              - disabilityActionType
                              - name
                              properties:
                                name:
                                  description: 'Name of the disability. The /disabilities endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve possible disability names.

                                    When disabilityActionType is NEW or INCREASE, name must match pattern:

                                    ^[a-zA-Z0-9''\",.#&;:%<>/()\[\]\\ -]+$'
                                  type: string
                                  example: PTSD (post traumatic stress disorder)
                                  maxLength: 255
                                exposureOrEventOrInjury:
                                  type: string
                                  description: What caused the disability?
                                  nullable: true
                                  maxLength: 1000
                                  examples:
                                  - Agent Orange
                                  - radiation
                                  - burn pits
                                serviceRelevance:
                                  description: Explanation of how the disability(ies) relates to the in-service event/exposure/injury. If the disabilityActionType is 'NEW', the serviceRelevance is required.
                                  type: string
                                  nullable: true
                                  maxLength: 1000
                                  example: Heavy equipment operator in service.
                                approximateDate:
                                  description: "Approximate date disability began. Date must be in the past. \n Format can be either YYYY-MM-DD or YYYY-MM or YYYY"
                                  type: string
                                  pattern: ^(?:[0-9]{4}(?:-(?!00)(?:0[1-9]|1[0-2])(?:-(?:0[1-9]|[1-2][0-9]|3[0-1]))?)?)$
                                  example: 2018-03-02 or 2018-03 or 2018
                                  nullable: true
                                disabilityActionType:
                                  description: Action type requested for the disability. If 'INCREASE' or 'NONE', then 'ratedDisabilityId' and 'diagnosticCode' should be included. 'NONE' should be used when including a secondary disability.
                                  type: string
                                  enum:
                                  - NONE
                                  - NEW
                                  - INCREASE
                                  example: NEW
                                classificationCode:
                                  type: string
                                  description: Classification code for the associated body system. Must match an active code returned by the /disabilities endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                  example: '249470'
                                  nullable: true
                                ratedDisabilityId:
                                  description: When submitting a contention with action type 'INCREASE', the previously rated disability id may be included.
                                  type: string
                                  example: '1100583'
                                  nullable: true
                                diagnosticCode:
                                  description: If the disabilityActionType is 'NONE' or 'INCREASE', the diagnosticCode should correspond to an existing rated disability.
                                  type: integer
                                  example: 9999
                                  nullable: true
                                isRelatedToToxicExposure:
                                  type: boolean
                                  description: Is the disability related to toxic exposures? If true, related 'toxicExposure' must be included.
                                  example: true
                                  default: false
                                  nullable: true
                                specialIssues:
                                  type: array
                                  nullable: true
                                  uniqueItems: true
                                  items:
                                    maxItems: 2
                                    additionalProperties: false
                                    type: string
                                    enum:
                                    - POW
                                    - EMP
                                secondaryDisabilities:
                                  description: 'If secondaryDisability is included, the following attributes are required: ''secondaryDisability.name'', ''secondaryDisability.disabilityActionType'' and ''secondaryDisability.serviceRelevance'''
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      name:
                                        description: Name of the disability. The /disabilities endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve possible disability names.
                                        type: string
                                        pattern: ^[a-zA-Z0-9'",.#&;:%<>/()\[\]\\ -]+$
                                        example: PTSD (post traumatic stress disorder)
                                        maxLength: 255
                                      exposureOrEventOrInjury:
                                        type: string
                                        description: What caused the disability?
                                        nullable: true
                                        maxLength: 1000
                                        examples:
                                        - Agent Orange
                                        - radiation
                                        - burn pits
                                      serviceRelevance:
                                        description: Explanation of how the disability(ies) relates to the in-service event/exposure/injury.
                                        type: string
                                        nullable: true
                                        maxLength: 1000
                                        example: Heavy equipment operator in service.
                                      disabilityActionType:
                                        description: The status of the secondary disability.
                                        type: string
                                        example: SECONDARY
                                        enum:
                                        - SECONDARY
                                      approximateDate:
                                        description: "Approximate date disability began. Date must be in the past. \n Format can be either YYYY-MM-DD or YYYY-MM or YYYY"
                                        type: string
                                        pattern: ^(?:[0-9]{4}(?:-(?!00)(?:0[1-9]|1[0-2])(?:-(?:0[1-9]|[1-2][0-9]|3[0-1]))?)?)$
                                        example: 2018-03-02 or 2018-03 or 2018
                                        nullable: true
                                      classificationCode:
                                        type: string
                                        description: Classification code for the associated body system. Must match an active code returned by the /disabilities endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                        example: '249470'
                                        nullable: true
                          treatments:
                            description: Identifies the Service Treatment information of the Veteran. The combination of treatedDisabilityName, center name, center city, and center state must be less than 10,000 characters to successfully generate a PDF.
                            type: array
                            nullable: true
                            uniqueItems: true
                            items:
                              type: object
                              additionalProperties: false
                              properties:
                                beginDate:
                                  description: Begin date for treatment.
                                  type: string
                                  pattern: ^(\d{4}(-\d{2})?)?$
                                  example: 2018-06 or 2018
                                  nullable: true
                                treatedDisabilityNames:
                                  description: Name(s) of disabilities treated in this time frame.
                                  type: array
                                  nullable: true
                                  maxItems: 150
                                  items:
                                    type: string
                                    additionalProperties: false
                                    example:
                                    - PTSD (post traumatic stress disorder)
                                    - Trauma
                                center:
                                  description: VA Medical Center(s) and Department of Defense Military Treatment Facilities where the Veteran received treatment after discharge for any claimed disabilities.
                                  type: object
                                  nullable: true
                                  additionalProperties: false
                                  properties:
                                    name:
                                      description: Name of facility Veteran was treated in. The /treatment-centers endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve possible treatment center names.
                                      type: string
                                      nullable: true
                                      pattern: ([a-zA-Z0-9"/&()\'-'.,# ]([a-zA-Z0-9()\'-'.,# ])?)+$
                                      example: Private Facility 2
                                      minLength: 1
                                      maxLength: 100
                                    city:
                                      description: City of treatment facility.
                                      type: string
                                      pattern: ([a-zA-Z0-9\-'.# ]([a-zA-Z0-9\-'.# ])?)+$
                                      example: Portland
                                      nullable: true
                                      minLength: 0
                                      maxLength: 30
                                    state:
                                      description: State of treatment facility.
                                      type: string
                                      pattern: ^$|^[a-z,A-Z]{2}$
                                      example: OR
                                      nullable: true
                          serviceInformation:
                            type: object
                            additionalProperties: false
                            required:
                            - servicePeriods
                            properties:
                              alternateNames:
                                description: List any other names under which the Veteran served, if applicable.
                                type: array
                                nullable: true
                                maxItems: 100
                                items:
                                  type: string
                                  additionalProperties: false
                                  examples:
                                  - jane
                                  - janey lee
                                  - jane lee MacDonald
                              servicePeriods:
                                description: Identifies the Service dates and Branch the Veteran served in.
                                type: array
                                minItems: 1
                                items:
                                  type: object
                                  required:
                                  - serviceBranch
                                  - serviceComponent
                                  - activeDutyBeginDate
                                  - activeDutyEndDate
                                  properties:
                                    serviceBranch:
                                      description: Branch of service during period. The /service-branches endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve list of possible service branches.
                                      type: string
                                      maxLength: 1000
                                      example: Air Force
                                    serviceComponent:
                                      type: string
                                      description: ''
                                      enum:
                                      - Active
                                      - Reserves
                                      - National Guard
                                    activeDutyBeginDate:
                                      description: Date started active duty. This date must be in the past.
                                      type: string
                                      pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                      example: '2018-06-06'
                                    activeDutyEndDate:
                                      description: Date Completed Active Duty. Cannot be more than 180 days in the future, unless past service is also included.
                                      type: string
                                      pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                      example: '2018-06-06'
                                    separationLocationCode:
                                      description: Location code for the facility the Veteran plans to separate from. Code must match the values returned by the /intake-sites endpoint on the [Benefits reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                      type: string
                                      nullable: true
                                      example: '98283'
                              servedInActiveCombatSince911:
                                type: string
                                enum:
                                - 'YES'
                                - 'NO'
                                description: Did Veteran serve in a combat zone since 9-11-2001?
                                example: 'YES'
                                nullable: true
                              reservesNationalGuardService:
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  component:
                                    type: string
                                    nullable: true
                                    description: ''
                                    enum:
                                    - Reserves
                                    - National Guard
                                  obligationTermsOfService:
                                    type: object
                                    nullable: true
                                    description: 'If ''obligationTermsOfService'' is included, the following attributes are required: ''beginDate '' and ''endDate''.'
                                    additionalProperties: false
                                    properties:
                                      beginDate:
                                        type: string
                                        nullable: true
                                        pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                        example: '2018-06-06'
                                      endDate:
                                        type: string
                                        nullable: true
                                        pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                        example: '2018-06-06'
                                  unitName:
                                    type: string
                                    nullable: true
                                    maxLength: 1000
                                    pattern: ^$|([a-zA-Z0-9\-'.,# ][a-zA-Z0-9\-'.,# ]?)*$
                                  unitAddress:
                                    type: string
                                    maxLength: 1000
                                    pattern: ^$|^([-a-zA-Z0-9'.,&# ])+$
                                    nullable: true
                                  unitPhone:
                                    type: object
                                    nullable: true
                                    additionalProperties: false
                                    properties:
                                      areaCode:
                                        type: string
                                        nullable: true
                                        maxLength: 3
                                        pattern: ^$|^\d{3}$
                                        example: '555'
                                      phoneNumber:
                                        type: string
                                        nullable: true
                                        maxLength: 20
                                        example: '5555555'
                                  receivingInactiveDutyTrainingPay:
                                    type: string
                                    enum:
                                    - 'YES'
                                    - 'NO'
                                    nullable: true
                                    example: 'YES'
                              federalActivation:
                                description: If federalActivation is present then reservesNationalGuardService.obligationTermsOfService.beginDate, reservesNationalGuardService.obligationTermsOfService.endDate and reservesNationalGuardService.unitName are required
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  activationDate:
                                    description: Date cannot be in the future and must be after the earliest servicePeriod.activeDutyBeginDate.
                                    type: string
                                    pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                    example: '2018-06-06'
                                    nullable: true
                                  anticipatedSeparationDate:
                                    description: Anticipated date of separation. Date must be in the future.
                                    type: string
                                    pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                                    example: '2018-06-06'
                                    nullable: true
                              confinements:
                                type: array
                                nullable: true
                                uniqueItems: true
                                items:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    approximateBeginDate:
                                      description: The approximateBeginDate must be after the earliest servicePeriod activeDutyBeginDate.
                                      type: string
                                      nullable: false
                                      pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$|(?:[0-9]{4})-(?:0[1-9]|1[0-2])$
                                      example: 2018-06-06 or 2018-06
                                    approximateEndDate:
                                      type: string
                                      nullable: false
                                      pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$|(?:[0-9]{4})-(?:0[1-9]|1[0-2])$
                                      example: 2018-06-06 or 2018-06
                            if:
                              required:
                              - federalActivation
                            then:
                              required:
                              - reservesNationalGuardService
                              properties:
                                reservesNationalGuardService:
                                  required:
                                  - obligationTermsOfService
                                  properties:
                                    obligationTermsOfService:
                                      required:
                                      - beginDate
                                      - endDate
                          servicePay:
                            type: object
                            nullable: true
                            additionalProperties: false
                            properties:
                              receivingMilitaryRetiredPay:
                                description: Is the Veteran receiving military retired pay?
                                type: string
                                enum:
                                - 'YES'
                                - 'NO'
                                example: 'YES'
                                nullable: true
                              futureMilitaryRetiredPay:
                                description: "Will the Veteran receive military retired pay pay in future? \n If true, then 'futurePayExplanation' is required."
                                type: string
                                enum:
                                - 'YES'
                                - 'NO'
                                example: 'YES'
                                nullable: true
                              futureMilitaryRetiredPayExplanation:
                                description: Explains why future pay will be received.
                                type: string
                                maxLength: 1000
                                example: Will be retiring soon.
                                nullable: true
                              militaryRetiredPay:
                                type: object
                                nullable: true
                                description: ''
                                properties:
                                  branchOfService:
                                    description: Branch of service. The /service-branches endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve list of possible service branches.
                                    type: string
                                    maxLength: 1000
                                    nullable: true
                                    example: Air Force
                                  monthlyAmount:
                                    description: Amount being received.
                                    type: integer
                                    nullable: true
                                    example: 100
                              retiredStatus:
                                type: string
                                nullable: true
                                description: ''
                                enum:
                                - RETIRED
                                - TEMPORARY_DISABILITY_RETIRED_LIST
                                - PERMANENT_DISABILITY_RETIRED_LIST
                              favorMilitaryRetiredPay:
                                description: Is the Veteran waiving VA benefits to retain military retired pay? See item 26 on form 21-526EZ for more details.
                                type: boolean
                                nullable: true
                                example: true
                                default: false
                              receivedSeparationOrSeverancePay:
                                description: Has the Veteran ever received separation pay, disability severance pay, or any other lump sum payment from their branch of service?
                                type: string
                                enum:
                                - 'YES'
                                - 'NO'
                                example: 'YES'
                                nullable: true
                              separationSeverancePay:
                                type: object
                                nullable: true
                                description: ''
                                properties:
                                  datePaymentReceived:
                                    description: "Approximate date separation pay was received. \n Format can be either YYYY-MM-DD or YYYY-MM or YYYY"
                                    type: string
                                    pattern: ^(\d{4}-(\d{2}-(\d{2})?)?|\d{4}-\d{2}|\d{4}|)$
                                    example: 2018-03-02 or 2018-03 or 2018
                                  branchOfService:
                                    description: Branch of service. The /service-branches endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current) may be used to retrieve list of possible service branches.
                                    type: string
                                    nullable: true
                                    maxLength: 1000
                                    example: Air Force
                                  preTaxAmountReceived:
                                    description: Amount being received.
                                    type: integer
                                    nullable: true
                                    example: 100
                              favorTrainingPay:
                                description: 'Is the Veteran waiving VA benefits to retain training pay? See item 28 on form 21-526EZ for more details. '
                                type: boolean
                                nullable: true
                                example: true
                                default: false
                          directDeposit:
                            type: object
                            nullable: true
                            additionalProperties: false
                            description: Direct deposit information.
                            properties:
                              noAccount:
                                type: boolean
                                nullable: true
                                description: Claimant certifies that they do not have an account with a financial institution or certified payment agent.
                                default: false
                              accountNumber:
                                description: Account number for the direct deposit.
                                pattern: ^(?:[a-zA-Z0-9-]{4,1000})?$
                                type: string
                                maxLength: 1000
                                nullable: true
                                example: '123123123123'
                              accountType:
                                description: Account type for the direct deposit.
                                type: string
                                nullable: true
                                example: CHECKING
                                enum:
                                - CHECKING
                                - SAVINGS
                              financialInstitutionName:
                                description: Provide the name of the financial institution where the Veteran wants the direct deposit.
                                maxLength: 1000
                                type: string
                                nullable: true
                                example: Some Bank
                              routingNumber:
                                description: Routing number for the direct deposit.
                                type: string
                                maxLength: 1000
                                nullable: true
                                pattern: ^$|^\d{0,1000}$
                                example: '123123123'
                          claimantCertification:
                            type: boolean
                            description: Claimant certifies and authorizes release of information.
                            default: false
                          claimNotes:
                            type: string
                            description: An optional notes section.
                            maxLength: 4000
                          claimDate:
                            description: Date when claim is being submitted to the VA. Date cannot be in the future.
                            type: string
                            pattern: ^(?:[0-9]{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$
                            example: '2018-06-04'
                          claimId:
                            type: string
                            example: '600517517'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  status: '401'
                  detail: Not authorized
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '404':
          description: Resource not found
          content:
            application/json:
              example:
                errors:
                - status: '404'
                  title: Resource not found
                  detail: Unable to locate Veteran's ID/ICN in Master Person Index (MPI). Please submit an issue at ask.va.gov or call 1-800-MyVA411 (800-698-2411) for assistance.
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable entity
          content:
            application/json:
              examples:
                Violates JSON Schema:
                  value:
                    errors:
                    - title: Unprocessable entity
                      detail: The property / did not contain the required key claimProcessType
                      status: '422'
                      source:
                        pointer: data/attributes/
                    - title: Unprocessable entity
                      detail: The property / did not contain the required key disabilities
                      status: '422'
                      source:
                        pointer: data/attributes/
                    - title: Unprocessable entity
                      detail: The property / did not contain the required key serviceInformation
                      status: '422'
                      source:
                        pointer: data/attributes/
                    - title: Unprocessable entity
                      detail: The property / did not contain the required key veteranIdentification
                      status: '422'
                      source:
                        pointer: data/attributes/
                Not a JSON Object:
                  value:
                    errors:
                    - title: Unprocessable entity
                      status: '422'
                      detail: 'The request body is not a valid JSON object: This is not valid JSON'
                      source:
                        pointer: null
                when federalActivation is present but obligationTermsOfService is missing:
                  value:
                    errors:
                    - detail: beginDate is missing or blank
                      source: serviceInformation/reservesNationalGuardService/obligationTermsOfService/
                      title: Unprocessable Entity
                      status: '422'
                    - detail: endDate is missing or blank
                      source: serviceInformation/reservesNationalGuardService/obligationTermsOfService/
                      title: Unprocessable Entity
                      status: '422'
                    - title: Unprocessable entity
                      detail: The property /serviceInformation/reservesNationalGuardService/obligationTermsOfService did not contain the required key beginDate
                      status: '422'
                      source:
                        pointer: data/attributes/serviceInformation/reservesNationalGuardService/obligationTermsOfService
                    - title: Unprocessable entity
                      detail: The property /serviceInformation/reservesNationalGuardService/obligationTermsOfService did not contain the required key endDate
                      status: '422'
                      source:
                        pointer: data/attributes/serviceInformation/reservesNationalGuardService/obligationTermsOfService
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - status
                      - detail
                      properties:
                        status:
                          type: string
                          description: HTTP error code
                        detail:
                          type: string
                          description: HTTP error detail
                        source:
                          type: object
                          pointer:
                            type: string
                        title:
                          type: string
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  - null
                  properties:
                    attributes:
                      $schema: http://json-schema.org/draft-07/schema#
                      description: Claims API 526 Schema
                      type: object
                      additionalProperties: false
                      required:
                      - claimProcessType
                      - disabilities
                      - serviceInformation
                      - veteranIdentification
                      properties:
                        claimProcessType:
                          type: string
                          description: Select type of claim program/process that applies to the Veteran.
                          enum:
                          - STANDARD_CLAIM_PROCESS
                          - FDC_PROGRAM
                          - BDD_PROGRAM
                        veteranIdentification:
                          type: object
                          additionalProperties: false
                          required:
                          - mailingAddress
                          - currentVaEmployee
                          properties:
                            serviceNumber:
                              type: string
                              description: Service identification number
                              maxLength: 1000
                              nullable: true
                            veteranNumber:
                              description: If there isn't a ten digit phone number in VBMS for the Veteran, the exams will not be ordered. Including the phone number is recommended to avoid claim processing delays.
                              type: object
                              nullable: true
                              properties:
                                telephone:
                                  description: Veteran's phone number.
                                  type: string
                                  pattern: ^\d{10}?$
                                  example: '5555555555'
                                  nullable: true
                                internationalTelephone:
                                  type: string
                                  description: Veteran's international phone number.
                                  example: +44 20 1234 5678
                                  maxLength: 1000
                                  nullable: true
                            mailingAddress:
                              type: object
                              additionalProperties: false
                              required:
                              - addressLine1
                              - city
                              - country
                              properties:
                                addressLine1:
                                  description: Address line 1 for the Veteran's current mailing address.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 20
                                  example: 1234 Couch Street
                                addressLine2:
                                  description: Address line 2 for the Veteran's current mailing address.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 20
                                  example: Unit 4
                                  nullable: true
                                addressLine3:
                                  description: Address line 3 for the Veteran's current mailing address.
                                  type: string
                                  pattern: ^([-a-zA-Z0-9'.,&#]([-a-zA-Z0-9'.,&# ])?)+$
                                  maxLength: 20
                                  example: Room 1
                                  nullable: true
                                city:
                                  description: City for the Veteran's current mailing address.
                                  type: string
                                  pattern: ^$|([a-zA-Z0-9\'-'.# ]([a-zA-Z0-9\'-'.# ])?)+$
                                  minLength: 1
                                  maxLength: 20
                                  example: Schenectady
                                state:
                                  description: State for the Veteran's current mailing address. Required if 'country' is 'USA'.
                                  type: string
                                  pattern: ^[a-z,A-Z]{2}$
                                  example: NY
                                  nullable: true
                                country:
                                  description: Country for the Veteran's current mailing address.  Must match the values returned by the /countries endpoint on the [Benefits Reference Data API](https://developer.va.gov/explore/benefits/docs/benefits_reference_data?version=current).
                                  type: string
                                  maxLength: 1000
                                  example: USA
                                zipFirstFive:
                                  description: Zip code (First 5 digits) for the Veteran's current mailing address. Required if 'country' is 'USA'.
                                  type: string
                                  pattern: ^\d{5}?$
                                  example: '12345'
                                  nullable: true
                                zipLastFour:
                                  description: Zip code (Last 4 digits) for the Veteran's current mailing address.
                                  type: string
                                  pattern: ^\d{4}?$
                                  example: '6789'
                                  nullable: true
                                internationalPostalCode:
                                  description: International postal code for the Veteran's current mailing address. Do not include if 'country' is 'USA'.
                                  type: string
                                  maxLength: 16
                                  nullable: true
                                  pattern: ^[a-zA-Z0-9]*$
                            emailAddress:
                              description: Information associated with the Veteran's email address.
[...]
