openapi: 3.0.1
info:
  title: Address Validation 5103 Waiver ACA Coverage API
  description: "The Address Validation API accepts and validates an address and standardizes it for mailing. It can also help you process an address by:\n* Inferring missing or incorrect address components\n* Supplementing an address with additional information, such as geocode, latitude and longitude, and postal service metadata (when available)\n## Technical Overview\nThe Address Validation API returns validated addresses as they appear in the USPS database for domestic addresses. It validates by separating the address into individual components and then providing component-level validation checks.\n\nThis API is certified by the United States Postal Service (USPS) Coding Accuracy Support System (CASS) and adheres to [United States Postal Service (USPS) Publication 28 standards](https://pe.usps.com/text/pub28/welcome.htm) for domestic, military, and US territory addresses.\n\nFor international addresses, validation relies on Universal Postal Union (UPU) standards. \n\n## Validation\nIf an address is found, it is considered valid based on metadata returned by the Address Validation service, such as the confidence score and the [Delivery Point Validation (DPV)](https://postalpro.usps.com/address-quality/dpv).\n\nIf an address is found, there are multiple checks performed on the validated address. The address can fail validation for a variety of reasons, such as the inability to deliver (for domestic mailing addresses) or the format. For specific reasons why an address failed, refer to the error messages returned.\n\nIf an address is not found, it automatically fails validation.\n\n## Address override indicator\nSometimes an entered address is accurate for a Veteran but does not pass validation rules. These instances can occur when an address is newer than what is in the CASS software or in regions where address data is less accurate.\n\nSystems can accept these addresses despite the lack of address validation by submitting an \"accepted address\" (usually confirmed by the Veteran) to the Contact Information API (see Requirements below). An address is considered accepted after the address has been sent to the validation API and has failed validation, but the Veteran has confirmed the address is correct as entered. The accepted address can then be passed to the Contact Information API using an address override indicator set to show that the validation was overridden. To set an override indicator, the original address and the `overrideValidationKey` returned in the validation API response must be provided to the Contact Information API, in order to prove that a validation attempt has been made before overriding.\n\n## Version Interoperability\n\nTo ensure interoperability between APIs and eliminate the need for transforming data as one API feeds into the other, we strongly recommend using versions of the following APIs that are compatible.\n\n|     <h3>If Using</h3>           | <h3>Then Use...</h3>                           |\n| :------------------------------:|:----------------------------------------------:|\n| Address Validation API v1/v2    | Contact Information API v1<br><br>Profile Service API v1/v2 |\n| Address Validation API v3       | Contact Information API v2<br><br>Profile Service API v3    |\n\n## Authorization\nAPI requests are authorized through a symmetric API token provided in an HTTP header with name apikey.\n\n**Important**: To get production access, you must either work for VA or have specific VA agreements in place. If you have questions, [contact us](https://developer.va.gov/support/contact-us)."
  license:
    name: Creative Commons
    url: https://developer.va.gov/terms-of-service
  version: '3'
servers:
- url: https://sandbox-api.va.gov/services/address-validation/{version}
  description: Sandbox
  variables:
    version:
      default: v3
- url: https://api.va.gov/services/address-validation/{version}
  description: Production
  variables:
    version:
      default: v3
security:
- apikey: []
tags:
- name: ACA Coverage
paths:
  /restricted/aca_coverage:
    post:
      tags:
      - ACA Coverage
      summary: Return a Veteran's enrollment status in minimum essential coverage (MEC) as defined by the Affordable Care Act (ACA). (restricted access).
      description: "  This endpoint checks a Veteran's enrollment status for minimum essential\n  coverage (MEC), as defined by the Affordable Care Act (ACA), for a specified\n  date range.\n\n  The response includes a code for Veteran's health benefits status for\n  the request's date range. If the status returned is \"APPLICANT_ENROLLED,\"\n  the response also includes the start and end dates of the coverage. If multiple\n  enrollments are found for the requested date range, multiple start and end dates are\n  returned (limited to the 12 most recent enrollments).\n\n  The ACA Coverage endpoint requires all of the following data elements in your request:\n  * First Name\n  * Last Name\n  * Date of Birth (format: \"yyyy-mm-dd\")\n  * Social Security Number (format: \"000-00-0000\")\n  * ACA Coverage Search Start Date (format: \"yyyy-mm-dd\")\n  * ACA Coverage Search End Date (format: \"yyyy-mm-dd\")\n\n  The required data are utilized to match a Veteran in VA records.\n"
      operationId: POST:/restricted/aca_coverage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VeteranSsnAttributes'
            example:
              person_first_name: Alfredo
              person_last_name: Armstrong
              person_date_of_birth: '1993-06-08'
              person_ssn_identification: 796-01-2476
              aca_coverage_start_date: '2021-09-01'
              aca_coverage_end_date: '2022-12-31'
        required: true
      responses:
        '200':
          description: Enrolled status successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcaCoverageResponse'
              example:
                data:
                  response_code: V0000
                  description: APPLICANT_ENROLLED
                  aca_coverage_periods:
                  - aca_coverage_start_date: '2021-09-01'
                    aca_coverage_end_date: '2021-09-31'
                  - aca_coverage_start_date: '2022-01-01'
                    aca_coverage_end_date: '2022-01-31'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                title: Bad Request
                detail: Bad Request
                code: '400'
                status: '400'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationError'
              example:
                status: '401'
                error: Invalid Token.
                path: /veteran_verification/v2/restricted/aca_coverage
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenServerError'
              example:
                status: '403'
                error: Token not granted requested scope.
                path: /veteran_verification/v2/restricted/aca_coverage
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VhaDataError'
              example:
                errors:
                - title: V1000 - Data Error/Invalid Request
                  detail: Required element invalid or missing in request.
                  code: '422'
                  status: '422'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerApiError'
              example:
                title: Internal server error
                detail: Internal server error
                code: '500'
                status: '500'
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VhaSystemError'
              example:
                errors:
                - title: V1002 - System Error
                  detail: System error.
                  code: '502'
                  status: '502'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VhaSystemUnavailable'
              example:
                errors:
                - title: V1001 - Backend Application Unavailable
                  detail: Unable to respond, system unavailable.
                  code: '503'
                  status: '503'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      security:
      - sandboxOauth2:
        - aca_coverage_restricted.read
      - productionOauth2:
        - aca_coverage_restricted.read
components:
  schemas:
    InternalServerApiError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetails'
      example:
        errors:
        - title: Internal server error
          detail: Internal server error
          code: '500'
          status: '500'
    AcaCoverageData:
      type: object
      properties:
        response_code:
          type: string
          description: Returns a response code
          example: V0000
        description:
          type: string
          description: Defines reason for response code
          example: APPLICANT_ENROLLED
        aca_coverage_periods:
          type: array
          description: Returns a list of enrollment coverage periods
          items:
            $ref: '#/components/schemas/AcaCoveragePeriods'
    AuthorizationError:
      type: object
      properties:
        status:
          type: string
          example: '401'
        error:
          type: string
          example: Invalid token.
        path:
          type: string
          example: /veteran_verification/v2/{endpoint}
    VhaSystemError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetails'
      example:
        errors:
        - title: V1002 - System Error
          detail: System error.
          code: '502'
          status: '502'
    BadRequest:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetails'
      example:
        errors:
        - title: Bad Request
          detail: Bad Request
          code: '400'
          status: '400'
    VeteranSsnAttributes:
      required:
      - aca_coverage_end_date
      - aca_coverage_start_date
      - person_date_of_birth
      - person_first_name
      - person_last_name
      - person_ssn_identification
      type: object
      properties:
        person_ssn_identification:
          type: string
        person_first_name:
          type: string
        person_last_name:
          type: string
        person_date_of_birth:
          type: string
          format: date
        aca_coverage_start_date:
          type: string
          format: date
        aca_coverage_end_date:
          type: string
          format: date
    VhaSystemUnavailable:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetails'
      example:
        errors:
        - title: V1001 - Backend Application Unavailable
          detail: Unable to respond, system unavailable.
          code: '503'
          status: '503'
    ApiErrorDetails:
      type: object
      properties:
        title:
          type: string
          example: Error title
        detail:
          type: string
          example: Detailed error message
        code:
          type: string
          example: Error Code
        status:
          type: string
          example: Error Code
    VhaDataError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorDetails'
      example: "    {\n     \"errors\": [\n                 {\n                  \"title\": \"V1000 - Data Error/Invalid Request\",\n                  \"detail\": \"Required element invalid or missing in\n                  request.\",\n                  \"code\": \"422\",\n                  \"status\": \"422\"\n                 }\n               ]\n     }\n"
    AcaCoveragePeriods:
      type: object
      properties:
        aca_coverage_start_date:
          type: string
          description: Indicates Enrollment Status Coverage Period start date
          example: '2019-10-09'
        aca_coverage_end_date:
          type: string
          description: Indicates Enrollment Status Coverage Period end date
          example: '2019-10-09'
      description: Returns a list of enrollment coverage periods
    AcaCoverageResponse:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AcaCoverageData'
      description: Response codes and descriptions from source system if successful Veteran match is found:<br>V0000 - APPLICANT_ENROLLED<br>V0001 - APPLICANT_NOT_ENROLLED<br>V0002 - APPLICANT_NOT_FOUND<br>V0003 - APPLICANT_DECEASED<br>V0004 - APPLICANT_DECEASED_ENROLLED<br>V0005 - APPLICANT_DECEASED_NOT_ENROLLED<br>
    ForbiddenServerError:
      type: object
      properties:
        status:
          type: string
          example: '403'
        error:
          type: string
          example: Token not granted requested scope.
        path:
          type: string
          example: /veteran_verification/v2/{endpoint}
  securitySchemes:
    apikey:
      type: apiKey
      name: apikey
      in: header
