openapi: 3.2.0
info:
  title: Va Gov Intent to File API
  version: '1.0'
  description: 'Operations tagged Intent to File across 2 of this provider''s published API definitions: va-gov-benefits-claims-v1-openapi.json, va-gov-benefits-claims-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox-api.va.gov/services/claims/{version}
  description: Sandbox
  variables:
    version:
      default: v1
- url: https://api.va.gov/services/claims/{version}
  description: Production
  variables:
    version:
      default: v1
- url: https://sandbox-api.va.gov/services/claims/{version}/
  description: Sandbox
  variables:
    version:
      default: v2
- url: https://api.va.gov/services/claims/{version}/
  description: Production
  variables:
    version:
      default: v2
tags:
- name: Intent To File
  description: Used for 0966 submissions.
paths:
  /forms/0966:
    get:
      summary: Get 0966 JSON Schema for form
      deprecated: true
      tags:
      - Intent To File
      operationId: GET:/forms/0966
      description: Returns a single 0966 JSON schema to auto generate a form.
      responses:
        '200':
          description: schema response
          content:
            application/json:
              example:
                data:
                - $schema: http://json-schema.org/draft-07/schema#
                  description: Form 0966 Schema
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      example: compensation
                      description: For an Intent to File for Survivor's Pension of Dependency and Indemnity Compensation(DIC), use type "burial" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.
                      enum:
                      - compensation
                      - pension
                      - burial
                    participant_claimant_id:
                      type: string
                      example: '123456789'
                      description: Participant ID of the Claimant.
                    participant_vet_id:
                      type: string
                      example: '987654321'
                      description: Participant ID of the Veteran.
                    received_date:
                      type: string
                      example: '2015-01-05T17:42:12.058Z'
                      format: datetime
                    claimant_ssn:
                      type: string
                      example: '123456789'
                      description: SSN of the Claimant.
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
    post:
      summary: Submit form 0966 Intent to File
      tags:
      - Intent To File
      operationId: POST:/forms/0966
      security:
      - productionOauth:
        - claim.read
        - claim.write
      - sandboxOauth:
        - claim.read
        - claim.write
      - bearer_token: []
      description: Establishes an intent to file for disability compensation, burial, or pension claims.
      parameters:
      - in: header
        name: X-VA-SSN
        required: false
        description: Claimant SSN if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-First-Name
        required: false
        description: Claimant first name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Last-Name
        required: false
        description: Claimant last name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Birth-Date
        required: false
        description: Claimant birthdate if consumer is representative, in iso8601 format
        schema:
          type: string
      responses:
        '200':
          description: 0966 Response
          content:
            application/json:
              example:
                data:
                  id: '294045'
                  type: intent_to_file
                  attributes:
                    creation_date: '2025-02-07T09:17:18-06:00'
                    expiration_date: '2026-02-07T07:12:40-06:00'
                    type: compensation
                    status: duplicate
              schema:
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Intent to File ID from EVSS
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - creation_date
                        - expiration_date
                        - type
                        - status
                        properties:
                          creation_date:
                            type: string
                            format: date
                            description: Date the Intent to File was received at the VA
                          expiration_date:
                            type: string
                            format: date
                            description: Date the ITF expires, this is 1 year from the created_date
                          type:
                            type: string
                            description: The type of ITF filed. Compensation, Pension, or Burial
                            enum:
                            - compensation
                            - burial
                            - pension
                          status:
                            type: string
                            description: The status of the Intent to File
                            enum:
                            - active
                            - duplicate
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
                  code: '401'
                  status: '401'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                errors:
                - title: Forbidden
                  detail: Veteran cannot file for type 'burial'
                  code: '403'
                  status: '403'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable entity
          content:
            application/json:
              example:
                errors:
                - status: 422
                  detail: 'The property /type did not match the following requirements: {"type"=>"string", "example"=>"compensation", "description"=>"For an Intent to File for Survivor''s Pension of Dependency and Indemnity Compensation(DIC), use type \"burial\" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.", "enum"=>["compensation", "pension", "burial"]}'
                  source: /type
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - status
                      - detail
                      - source
                      properties:
                        status:
                          type: integer
                          description: HTTP error code
                        detail:
                          type: string
                          description: HTTP error detail
                        source:
                          type: string
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  example:
                    type: form/0966
                    attributes:
                      type: compensation
                  properties:
                    attributes:
                      $schema: http://json-schema.org/draft-07/schema#
                      description: Form 0966 Schema
                      type: object
                      additionalProperties: false
                      required:
                      - type
                      properties:
                        type:
                          type: string
                          example: compensation
                          description: For an Intent to File for Survivor's Pension of Dependency and Indemnity Compensation(DIC), use type "burial" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.
                          enum:
                          - compensation
                          - pension
                          - burial
                        participant_claimant_id:
                          type: string
                          example: '123456789'
                          description: Participant ID of the Claimant.
                        participant_vet_id:
                          type: string
                          example: '987654321'
                          description: Participant ID of the Veteran.
                        received_date:
                          type: string
                          example: '2015-01-05T17:42:12.058Z'
                          format: datetime
                        claimant_ssn:
                          type: string
                          example: '123456789'
                          description: SSN of the Claimant.
        required: true
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}
      description: Sandbox
      variables:
        version:
          default: v1
    - url: https://api.va.gov/services/claims/{version}
      description: Production
      variables:
        version:
          default: v1
  /forms/0966/active:
    get:
      summary: Returns last active 0966 Intent to File form submission
      tags:
      - Intent To File
      operationId: GET:/forms/0966/active
      security:
      - productionOauth:
        - claim.read
      - sandboxOauth:
        - claim.read
      - bearer_token: []
      description: Returns the last active 0966 form for a Veteran.
      parameters:
      - in: header
        name: X-VA-SSN
        required: false
        description: Claimant SSN if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-First-Name
        required: false
        description: Claimant first name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Last-Name
        required: false
        description: Claimant last name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Birth-Date
        required: false
        description: Claimant birthdate if consumer is representative, in iso8601 format
        schema:
          type: string
      - name: type
        in: query
        description: The type of 0966 you wish to get the active submission for.
        example: compensation
        schema:
          type: string
      responses:
        '200':
          description: 0966 response
          content:
            application/json:
              example:
                data:
                  id: '183042'
                  type: intent_to_file
                  attributes:
                    creation_date: '2020-06-05T11:24:28-05:00'
                    expiration_date: '2021-06-05T11:24:28-05:00'
                    type: compensation
                    status: active
              schema:
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Intent to File ID from EVSS
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - expiration_date
                        - type
                        - status
                        properties:
                          creation_date:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: Date the Intent to File was received at the VA
                          expiration_date:
                            type: string
                            format: date
                            description: Date the ITF expires, this is 1 year from the created_date
                          type:
                            type: string
                            description: The type of ITF filed. Compensation, Pension, or Burial
                            enum:
                            - compensation
                            - burial
                            - pension
                          status:
                            type: string
                            description: The status of the Intent to File
                            enum:
                            - active
                            - inactive
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
                  code: '401'
                  status: '401'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '404':
          description: Resource not found
          content:
            application/json:
              example:
                errors:
                - title: Resource not found
                  detail: No Intent to file is on record for WESLEY FORD of type compensation
                  code: '404'
                  status: '404'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable entity
          content:
            application/json:
              example:
                errors:
                - title: Unprocessable Entity
                  detail: Must include either compensation, pension or burial as a 'type' parameter.
                  code: '422'
                  status: '422'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}
      description: Sandbox
      variables:
        version:
          default: v1
    - url: https://api.va.gov/services/claims/{version}
      description: Production
      variables:
        version:
          default: v1
  /forms/0966/validate:
    post:
      summary: Test the 0966 Intent to File form submission
      deprecated: true
      tags:
      - Intent To File
      operationId: POST:/forms/0966/validate
      security:
      - productionOauth:
        - claim.read
        - claim.write
      - sandboxOauth:
        - claim.read
        - claim.write
      - bearer_token: []
      description: 'Test to ensure the form submission works with your parameters.

        Submission is validated against the GET /forms/0966 schema.'
      parameters:
      - in: header
        name: X-VA-SSN
        required: false
        description: Claimant SSN if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-First-Name
        required: false
        description: Claimant first name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Last-Name
        required: false
        description: Claimant last name if consumer is representative
        schema:
          type: string
      - in: header
        name: X-VA-Birth-Date
        required: false
        description: Claimant birthdate if consumer is representative, in iso8601 format
        schema:
          type: string
      responses:
        '200':
          description: 0966 Response
          content:
            application/json:
              example:
                data:
                  type: intentToFileValidation
                  attributes:
                    status: valid
              schema:
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - type
                    - attributes
                    properties:
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - status
                        properties:
                          status:
                            type: string
                            description: The status of the Intent to File
                            enum:
                            - valid
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
                  code: '401'
                  status: '401'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      - code
                      - status
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        code:
                          type: string
                          description: HTTP error code
                        status:
                          type: string
                          description: HTTP error code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable
          content:
            application/json:
              example:
                errors:
                - status: 422
                  detail: The property / did not contain the required key type
                  source: /
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - status
                      - detail
                      - source
                      properties:
                        status:
                          type: integer
                          description: HTTP error code
                        detail:
                          type: string
                          description: HTTP error detail
                        source:
                          type: string
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  example:
                    type: form/0966
                    attributes:
                      type: compensation
                  properties:
                    attributes:
                      $schema: http://json-schema.org/draft-07/schema#
                      description: Form 0966 Schema
                      type: object
                      additionalProperties: false
                      required:
                      - type
                      properties:
                        type:
                          type: string
                          example: compensation
                          description: For an Intent to File for Survivor's Pension of Dependency and Indemnity Compensation(DIC), use type "burial" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.
                          enum:
                          - compensation
                          - pension
                          - burial
                        participant_claimant_id:
                          type: string
                          example: '123456789'
                          description: Participant ID of the Claimant.
                        participant_vet_id:
                          type: string
                          example: '987654321'
                          description: Participant ID of the Veteran.
                        received_date:
                          type: string
                          example: '2015-01-05T17:42:12.058Z'
                          format: datetime
                        claimant_ssn:
                          type: string
                          example: '123456789'
                          description: SSN of the Claimant.
        required: true
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}
      description: Sandbox
      variables:
        version:
          default: v1
    - url: https://api.va.gov/services/claims/{version}
      description: Production
      variables:
        version:
          default: v1
  /veterans/{veteranId}/intent-to-file/{type}:
    get:
      summary: Returns claimant's last active Intent to File submission for given benefit type
      tags:
      - Intent To File
      operationId: GET:/veterans/{veteranId}/intent-to-file/{type}
      security:
      - productionOauth:
        - system/claim.read
      - sandboxOauth:
        - system/claim.read
      - bearer_token: []
      description: Returns claimant's last active Intent to File submission for given benefit type of compensation, pension, or survivor.
      parameters:
      - name: veteranId
        in: path
        required: true
        example: 1012667145V762142
        description: ID of claimant
        schema:
          type: string
      - name: type
        in: path
        required: true
        example: compensation
        description: Type of Intent to File to return. Available values - compensation, pension, survivor.
        schema:
          type: string
      responses:
        '200':
          description: Successful response with active Intent to File
          content:
            application/json:
              example:
                data:
                  id: '193685'
                  type: intent_to_file
                  attributes:
                    creationDate: '2021-03-16T19:15:21.000-05:00'
                    expirationDate: '2022-03-16T19:15:20.000-05:00'
                    type: compensation
                    status: active
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Intent To File ID
                        example: '600131328'
                      type:
                        type: string
                        example: intent_to_file
                      attributes:
                        required:
                        - creationDate
                        - expirationDate
                        - status
                        - type
                        properties:
                          creationDate:
                            type: string
                            format: date
                            description: Date the Intent to File was received at VA
                          expirationDate:
                            type: string
                            format: date
                            description: Date the Intent to File expires, this is 1 year from the createdDate
                          status:
                            type: string
                            description: The status of the Intent to File
                            example: active
                          type:
                            type: string
                            description: The type of Intent to File filed
                            example: compensation
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '404':
          description: Resource not found
          content:
            application/json:
              example:
                errors:
                - title: Resource not found
                  detail: No active 'C' intent to file found.
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}/
      description: Sandbox
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/claims/{version}/
      description: Production
      variables:
        version:
          default: v2
  /veterans/{veteranId}/intent-to-file:
    post:
      summary: Submit form 0966 Intent to File
      tags:
      - Intent To File
      operationId: POST:/veterans/{veteranId}/intent-to-file
      security:
      - productionOauth:
        - system/claim.read
        - system/claim.write
      - sandboxOauth:
        - system/claim.read
        - system/claim.write
      - bearer_token: []
      description: Establishes an Intent to File for disability compensation, pension, and survivor claims.
      parameters:
      - name: veteranId
        in: path
        required: true
        example: 1012667145V762142
        description: ID of claimant
        schema:
          type: string
      responses:
        '200':
          description: 0966 Response
          content:
            application/json:
              example:
                data:
                  id: '294045'
                  type: intent_to_file
                  attributes:
                    creationDate: '2025-02-07T09:17:18-06:00'
                    expirationDate: '2026-02-07T07:12:40-06:00'
                    type: compensation
                    status: duplicate
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Intent To File ID
                        example: '600131328'
                      type:
                        type: string
                        example: intent_to_file
                      attributes:
                        required:
                        - creationDate
                        - expirationDate
                        - status
                        - type
                        properties:
                          creationDate:
                            type: string
                            format: date
                            description: Date the Intent to File was received at VA
                          expirationDate:
                            type: string
                            format: date
                            description: Date the Intent to File expires, this is 1 year from the createdDate
                          status:
                            type: string
                            description: The status of the Intent to File
                            example: active
                          type:
                            type: string
                            description: The type of Intent to File filed
                            example: compensation
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                errors:
                - title: invalid value for type
                  detail: some-invalid-value is not valid for type
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '404':
          description: 0966 Response
          content:
            application/json:
              example:
                errors:
                - title: Resource not found
                  detail: Veteran ID not found
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '422':
          description: Unprocessable entity
          content:
            application/json:
              example:
                errors:
                - title: Unprocessable Entity
                  detail: Invalid claimantSsn parameter
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '502':
          description: 0966 Response
          content:
            application/json:
              example:
                errors:
                - title: Bad Gateway
                  detail: Bad Gateway
                  code: '502'
                  status: '502'
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  properties:
                    attributes:
                      required:
                      - type
                      properties:
                        type:
                          type: string
                          example: compensation
                          description: For an Intent to File for Survivor's Pension of Dependency and Indemnity Compensation(DIC), use type "survivor" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.
                          enum:
                          - compensation
                          - pension
                          - survivor
                        claimantSsn:
                          type: string
                          example: '001122334'
                          description: SSN of the Claimant.
                      example:
                        type: compensation
              example:
                data:
                  type: intent_to_file
                  attributes:
                    type: compensation
        required: true
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}/
      description: Sandbox
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/claims/{version}/
      description: Production
      variables:
        version:
          default: v2
  /veterans/{veteranId}/intent-to-file/validate:
    post:
      summary: Validate form 0966 Intent to File
      tags:
      - Intent To File
      operationId: POST:/veterans/{veteranId}/intent-to-file/validate
      security:
      - productionOauth:
        - system/claim.read
        - system/claim.write
      - sandboxOauth:
        - system/claim.read
        - system/claim.write
      - bearer_token: []
      description: Validates an Intent to File for disability compensation, pension, and survivor claims.
      parameters:
      - name: veteranId
        in: path
        required: true
        example: 1012667145V762142
        description: ID of claimant
        schema:
          type: string
      responses:
        '200':
          description: 0966 Response
          content:
            application/json:
              example:
                data:
                  type: intent_to_file_validation
                  attributes:
                    status: valid
              schema:
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - type
                    - attributes
                    properties:
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - status
                        properties:
                          status:
                            type: string
                            description: The status of the Intent to File
                            enum:
                            - valid
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                errors:
                - title: invalid value for type
                  detail: some-invalid-value is not valid for type
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                errors:
                - title: Not authorized
                  detail: Not authorized
              schema:
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      additionalProperties: false
                      required:
                      - title
                      - detail
                      properties:
                        title:
                          type: string
                          description: HTTP error title
                        detail:
                          type: string
                          description: HTTP error detail
                        status:
                          type: string
                          description: HTTP error status code
                        code:
                          type: string
                          description: HTTP error status code
                        source:
                          type: object
                          additionalProperties: false
                          description: Source of error
                          properties:
                            pointer:
                              type: string
                              description: Pointer to source of error
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Request size limit exceeded
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: API rate limit exceeded
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: The server took too long to respond
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  properties:
                    attributes:
                      required:
                      - type
                      properties:
                        type:
                          type: string
                          example: compensation
                          description: For an Intent to File for Survivor's Pension of Dependency and Indemnity Compensation(DIC), use type "survivor" and include claimant_ssn or participant_claimant_id to identify the surviving dependent of the Veteran.
                          enum:
                          - compensation
                          - pension
                          - survivor
                        claimantSsn:
                          type: string
                          example: '001122334'
                          description: SSN of the Claimant.
                      example:
                        type: compensation
              example:
                data:
                  type: intent_to_file
                  attributes:
                    type: compensation
        required: true
    servers:
    - url: https://sandbox-api.va.gov/services/claims/{version}/
      description: Sandbox
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/claims/{version}/
      description: Production
      variables:
        version:
          default: v2
components:
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
    productionOauth:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/authorization-code)
      flows:
        authorizationCode:
          authorizationUrl: https://api.va.gov/oauth2/authorization
          tokenUrl: https://api.va.gov/oauth2/token
          scopes:
            claim.read: Retrieve claim data
            claim.write: Submit claim data
    sandboxOauth:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/authorization-code)
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox-api.va.gov/oauth2/authorization
          tokenUrl: https://sandbox-api.va.gov/oauth2/token
          scopes:
            claim.read: Retrieve claim data
            claim.write: Submit claim data
x-refined-from:
- va-gov-benefits-claims-v1-openapi.json
- va-gov-benefits-claims-v2-openapi.json
